[2019-05-20 11:25] kingluo commented on #878
What happens when the stolen task waits for I/O resource again? Which worker should be notified when  the bound reactor (of other worker thread) wakes up the task later?

[2019-05-21 17:31] #1081 closed

[2019-05-21 17:35] hawkw commented on #1062
I'd love to start working on this soon and get it into `tokio-trace` v0.2. It seems like most people think changing the current meaning of `foo,` in the span macros to `foo = _,`, and I agree that of the proposed syntax it's probably the most obvious. @carllerche, I'd love to get your input on the proposed macro syntax changes if you have a moment, though.

[2019-05-21 18:04] hawkw opened #1100 "trace: Support setting event parent events explicitly"
## Motivation

Currently, the `tokio-trace` span macros allow setting the parent span explicitly as a parameter of the macro, as well as contextually. However, events created via the event macros _always_ have their parents determined contextually. It would be nice to allow setting explicit parents for events as well (as @jonhoo mentioned in #1065).

## Implementation

Making this change will requ

[2019-05-21 18:05] hawkw commented on #1100
I've tried to provide a thorough description of how I would recommend making this change, so it should be appropriate for a new contributor. With that said, if anyone's interested in working on this one and anything I said above is confusing or unclear, please let me know and I'm happy to explain further.

[2019-05-22 15:40] zaharidichev commented on #1100
@hawkw May be wrong on that, but it seems to me that in order to implement `Event::child_of(...)` the same way as `Span::child_of` ,the `AsId` type needs to be moved from tokio-trace to tokio-trace-core in order to be visible there. Correct me if I am wrong :)

[2019-05-22 16:20] carllerche commented on #1062
My gut reaction is that optimizing ergonomics for avoiding `foo = foo` is best, so stick with `debug!({ foo });`. Then, come up with an alternate syntax for defining an uninitialized variable.

[2019-05-22 17:54] hawkw commented on #1062
@carllerche Yeah, that's what I think we've all agreed on --- what I wanted to get your opinion on was specifically what the uninitialized field syntax ought to look like.

[2019-05-22 18:19] hawkw commented on #1100
@zaharidichev that's a good point, thanks --- I think I overlooked that. I'd actually like to look into removing the `AsId` trait in the upcoming release, as I think it can be replaced with `Into` implementations. So, that may be the best solution.

[2019-05-22 18:50] hawkw opened #1101 "trace: Make span ref counts harder to misuse"
## Motivation

Currently, the `tokio_trace_core::span::Id` type implements `Clone`. The `Clone` implementation will return a copy of the `Id` _without_ calling `Subscriber::clone_span` to increment the reference count for that ID. However, _dropping_ the `Id` _will_ call `Subscriber::drop_span`.

This means that if users call `clone` on an `Id`, span reference counts will become incorrect. `Clone`

[2019-05-22 18:51] zaharidichev commented on #1100
Wouldn’t that introduce a breaking change though ?

[2019-05-22 19:43] hawkw commented on #1100
Yes. There are other unavoidable breaking changes scheduled for a `tokio-trace` 0.2 release, though, so now would be a good time to make that change as well.

[2019-05-22 19:59] hawkw commented on #1100
@zaharidichev see also #1102 :)

[2019-05-22 21:20] zaharidichev commented on #1100
Great, I already started on this one and will rebase once #1102 is merged. Will be able to pick it back up in the following days though. Someone might beat me to it by then :)

[2019-05-23 09:32] kingluo opened #1104 "error[E0432]: unresolved import `tokio::async_wait`"
I failed to compile `async_await` hello world program.

I use tokio master version, but not ok too.

I use `nightly-x86_64-pc-windows-gnu`.

I try to add feature arg, but no luck too:

[code]

Is there something wrong? Help.

[2019-05-23 13:59] kingluo commented on #1104
The error is same as #1094.
I add back the `async-await-preview` feature in `Cargo.toml` of tokio, the error is gone.

[2019-05-23 13:59] #1104 closed

[2019-05-23 14:29] trezm opened #1105 "Can't access tokio_futures::compat externally"
## Version
b2c5398

## Description
It seems like some things have been shuffled around with the compat layer -- specifically that `tokio-async-await` -> `tokio-futures`. How do we now access the compat layer? `tokio-futures` on Cargo is still a placeholder, and I don't see a reexport of the compat module elsewhere. Is the plan to use the `tokio-futures` crate on crates.io, or reexport around [here

[2019-05-24 00:28] udoprog commented on #1105
futures-rs now includes a [compatibility layer] ([article]) which handles `0.1 <-> 0.3` in both directions. I'm [using it successfully with tokio]. Maybe that's what should be used instead?

[compatibility layer]: https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.16/futures/compat/index.html
[article]: https://rust-lang-nursery.github.io/futures-rs/blog/2019/04/18/compatibility-laye

[2019-05-24 22:24] #1075 closed

[2019-05-25 02:54] kingluo opened #1108 "how to implement stream r/w in parallel?"
As known, due to the ownership, we could not r/w the stream at the same time.

The `split` in tokio seems like a faked split, because it uses mutex for r/w.

Although we do not block on syscall, which is just the goal of async programming, but the syscall itself is locked by that mutex, i.e. when the `read()` syscall is processing, we could not do `write()` syscall. That seems very silly, with obv

[2019-05-25 09:19] ry commented on #1091
I am now experiencing this too. For [technical reasons] I wasn't being exposed to it before.
I feel like tokio::run should join worker threads....

[2019-05-28 18:07] carllerche commented on #449
The latest release of mio fixes this on kqueue platforms.

[2019-05-28 18:07] #449 closed

[2019-05-28 18:36] hawkw opened #1110 "trace: When a span's explicit parent is disabled, the parent should probably be contetual"
In `tokio-trace`, when constructing a span using `Span::child_of`, we accept a type that can provide us an `Option<&Id>` as the span's parent. This allows writing code like this:

[code]
It's necessary to take an `Option<&Id>` here rather than just `&Id`, as the parent span may not be enabled --- for example, in the snippet above, we might have a filter set that accepts spans with `Level::DEBUG` a

[2019-05-29 16:22] mbilker commented on #1105
You can still convert futures with `tokio_futures::compat::into_01`. I am using it in my program to convert a future from hyper for use with `async_wait!`.

[2019-05-29 17:07] trezm commented on #1105
What version are you using? crates.io still shows 0.0.0
https://crates.io/crates/tokio-futures

On Wed, May 29, 2019, 12:23 PM Matt Bilker <notifications@github.com> wrote:

[2019-05-29 17:08] mbilker commented on #1105
I am using the current version from git master since that crate has not been deployed to crates.io.

[2019-05-29 17:12] trezm commented on #1105
Right -- and if you use a git branch as a dependency you can't publish the
lib to crates.io.

On Wed, May 29, 2019, 1:08 PM Matt Bilker <notifications@github.com> wrote:

[2019-05-30 12:24] thombles opened #1112 "TcpListener on iOS does not report bad file descriptor error"
## Version

├── tokio v0.1.20
│   ├── tokio-codec v0.1.1
│   │   └── tokio-io v0.1.12
│   ├── tokio-current-thread v0.1.6
│   │   └── tokio-executor v0.1.7
│   ├── tokio-fs v0.1.6
│   │   └── tokio-threadpool v0.1.14
│   ├── tokio-reactor v0.1.9
│   │   └── tokio-sync v0.1.5
│   ├── tokio-tcp v0.1.3
│   ├── tokio-timer v0.2.11
│   ├── tokio-trace-core v0.1.0
│   ├── tokio-udp v0.1.3
│   │   ├── to

[2019-06-04 19:56] EliSnow commented on #1000
I am currently facing this issue. It is also manifest when used with the commonly used `tokio::run`.

[2019-06-05 14:12] leoyvens opened #1125 "Should `timeout` count from instantiation or from first poll?"
With `.deadline(Instant::now() + timeout_duration)` clearly the duration counted from the point of instantiation, now `.timeout(timeout_duration)` kept that behaviour but it's no longer obvious, and to me it would be less surprising if it counted from the first call to poll rather than from instantiation, for example in the code:
[code]

I'd expect both requests to have individual timeouts of 30 s

[2019-06-05 14:45] ColinFinck opened #1126 "send_dgram doesn't work with connect on macOS"
## Version
[code]

## Platform
`Darwin computername.local 18.2.0 Darwin Kernel Version 18.2.0: Thu Dec 20 20:46:53 PST 2018; root:xnu-4903.241.1~1/RELEASE_X86_64 x86_64`

## Subcrates
tokio-udp

## Description
I'm creating a new socket with `let socket = tokio::net::UdpSocket::bind(&local_addr).unwrap()` and then limit communication to a specific client using `socket.connect(&client_addr).unwrap()

[2019-06-05 17:55] hawkw opened #1127 "trace: Consider committing to 'static Span metadata"
## Subcrates

`tokio-trace-core`

## Motivation

Currently, the `span::Attributes` type in `tokio-trace-core` contains a reference to `Metadata` with a generic lifetime `'a`. This means that if a `Subscriber` wishes to store span metadata, it cannot simply store a `&'static Metadata<'static>`. Instead, it must extract the individual components from the metadata and store them in its own structure.

[2019-06-06 00:09] seanmonstar opened #1133 "timer: Consider removal of errors from futures"
As we update to std::future, `Future` and `Stream` no longer have built-in `Error` types. In many cases, it's easy enough to just set `type Output = Result<Item, Error>`, like for `TcpStream::connect`. However, for a `Timeout` or `Interval`, I think the idea that they may error is surprising.

In fact, in all the code I've written using `tokio-timer` anyways, we simply panic on a `timer::Error`, a

[2019-06-06 06:05] przygienda opened #1134 "tokio-sync 0.1.6 publish today broke something massively ..."
Pretty much everything came to a grinding halt ... sigh ...

[2019-06-06 06:12] przygienda commented on #1134
sorry, my own bad ...

[2019-06-06 06:12] #1134 closed

[2019-06-06 07:38] vojtechkral commented on #1108
I've ran into this as well. So far, I've written this (very ugly) workaround for a non-locking split:

[code]

Like I said, it's ugly, but I don't think it can be much prettier without some sort of explicit support...

[2019-06-06 09:36] vojtechkral commented on #174
@carllerche I would like to have a look at this as part of my work. I've posted an (ugly) workaround in #1108. Also related is #852 - the split could easily handle connection shutdown, which could make a lot of TcpStream use cases simpler.

[2019-06-06 14:35] LucioFranco commented on #1133
@seanmonstar I'm +1 on this as well, I think this would be a huge ergonomic improvement, we do the same with timers at work.

[2019-06-06 15:57] carllerche commented on #1133
Seems plausible. Either the error is due to misuse or it is fairly catastrophic.

[2019-06-06 17:12] seanmonstar commented on #1133
Having worked a little on timer now, I see that only `Delay` and `Interval` could remove its error type. The `Timeout` adapter needs to return something to indicate an elapsed error occured.

[2019-06-06 23:10] carllerche commented on #174
Yes, probably.

Incidentally, I think not calling TcpShutdown in Sink shutdown was probably a mistake.

[2019-06-06 23:11] carllerche commented on #174
I think this may require some changes to PollEvented. I have not thought that Koch about it yet but now is a good time to explore as we can issue breaking changes.

[2019-06-06 23:17] carllerche commented on #1126
Thanks for the report. I think this will probably require a breaking change to address.

[2019-06-06 23:19] carllerche commented on #1125
I believe the current behavior is fine and will be less of an issue with async await, but I flagged the issue as rfc

[2019-06-07 22:20] vojtechkral commented on #174
Also related: #824 & #774 . Seems like the same underlying problem keeps popping up :-) I thought this might be an opportunity for me to familiarize with Tokio & mio a bit, perhaps with some mentoring if that's ok with you.

I'm only reading the implementation so far. Seems like `PollEvented` & `Registration` is sort of ready for the indepentend reading & writing screnario, but this might be at od

[2019-06-07 22:43] hawkw opened #1138 "trace: Determine new syntax for uninitialized fields"
Followup from #1062 and https://github.com/tokio-rs/tokio/pull/1103#issuecomment-500019388.

Prior to #1103, the syntax `field,` was used by the `tokio-trace` macros to indicate span fields which have yet to have a value recorded. In order to support shorthand for using local variables as fields, we changed the meaning of this syntax, since local variable shorthand is likely to be a more common us

[2019-06-07 22:56] hawkw commented on #1138
Personally, I think `let field` would be fine, but I'd like to hear from everyone who's invested in this.

[2019-06-09 20:16] #1062 closed

[2019-06-10 18:20] hawkw commented on #1101
As I said in https://github.com/tokio-rs/tokio/pull/1102#issuecomment-500517168, I think this issue is invalid --- I misunderstood my own code & went down a bit of a rabbit hole based on incorrect assumptions. `tokio_trace_core::span::Id` does _not_ call `Subscriber::drop_span` on drop, only `tokio_trace::Span` does that, and there is no ref-count management in `tokio-trace-core`, which is correct

[2019-06-10 18:20] #1101 closed

[2019-06-11 17:40] hawkw opened #1143 "trace: Get rid of `AsId`"
While we're making breaking changes to `tokio-trace`, it would be good to get rid of the `AsId` trait. I don't think this trait is strictly necessary and it can probably be replaced with `Into`/`AsRef` conversions. This would also make the API added to `tokio_trace_core::Event` in #1109 more consistent with the `tokio-trace::Span` API.

[2019-06-12 08:44] jcaesar commented on #431
I take it #391 closes this?

[2019-06-12 22:13] hawkw commented on #1138
@jonhoo, @carllerche, @davidbarsky, and @LucioFranco, just checking to see if supporting uninitialized fields in `tokio-trace` 0.2 is important to any of you. If so, we'll block the breaking change on this issue. Otherwise, when we agree on the new syntax, we can add it in a small-point release...

[2019-06-13 00:52] davidbarsky commented on #1138
@hawkw It's not a blocking issue for me. I think it can be added later.

[2019-06-13 08:12] kazimuth opened #1146 "Distributed tracing in tokio-trace"
I saw a little bit of discussion of this in #561, but there aren't currently any open issues for it, so I figured I'd start one.

Distributed tracing is like tokio-trace but extended for distributed systems; instead of tracing only within a single process, you can trace code execution of code across process boundaries, machines, data centers, continents... There are a number of systems for this, e

[2019-06-13 14:47] LucioFranco commented on #1138
Same 😄

[2019-06-13 17:47] carllerche commented on #1094
Thanks for the report. 0.1 started lagging behind breaking changes in nightly. We opted to stop maintaining async-await-preview in 0.1 in favor of a full update, which is happening in https://github.com/tokio-rs/tokio/pull/1120

It is a very big process, so it will take some time to finish.

[2019-06-13 17:47] #1094 closed

[2019-06-13 18:19] dekellum commented on #1133
@carllerche, "catastrophic" meaning unrecoverable?

I implemented some fairly painful means of propagating those errors:

https://github.com/dekellum/body-image/blob/244ece05/body-image-futio/src/lib.rs#L356

Though, even here, I have one panic for a  branch I believed to be impossible.  Happy to be able to simplify this if there is no recoverable errors here.

[2019-06-13 18:28] carllerche commented on #1133
@dekellum the error cases are only possible due to a program bug, not an unexpected runtime condition.

[2019-06-13 18:33] dekellum commented on #1133
Cool, looking forward to it being simplified!

[2019-06-13 18:49] seanmonstar commented on #1133
As an update, the `std-future` branch has the proposed changes already.

[2019-06-13 18:53] seanmonstar commented on #1133
@dekellum The two "timer" error cases are:

- AtCapacity: a program has spawned **way** too many `Delay`s. I believe this would be close to pushing too many items into a hash map?
- Shutdown: a program tried to poll a `Delay` while there was no active timer. This should only happen if a programmer didn't setup a runtime.

[2019-06-13 19:47] hawkw commented on #1146
Thanks for opening this issue! Supporting integration with distributed tracing systems is definitely a goal for `tokio-trace`, and we've tried to design the core primitives to make integrating with distributed tracing easy. However, nobody has actually _written_ any such integrations yet.

I've done some thinking about how one might want to go about writing a distributed tracing integration for `t

[2019-06-13 19:53] #1143 closed

[2019-06-13 19:57] dekellum commented on #1133
Thanks. Hmm... the last one, if I were receiving it I might choose to log and ignore it, so as to avoid panic in the middle of my (perhaps not entirely orderly) shutdown?

[2019-06-13 20:51] dekellum opened #1147 "Updated (0.2) `tokio_threadpool::blocking` should wake after NotReady?"
I've recently been experimentally updating a public Tokio 0.1 application's `Sink`s and `Stream`s to futures 0.3-alpha, via the latter's compatibility layer.  These `Sink`s and `Stream`s use `tokio_threadpool::blocking` because they conditionally do file I/O.  As a result of that the `Sink`s have become more complicated due to changes in the 0.3 `Sink` interface, see rust-lang-nursery/futures-rs#1

[2019-06-14 00:01] kazimuth commented on #1146
I'm about to start grad school so I don't want to commit to any intense projects right now. Thanks for the offer of help, though :) I might poke around on this at some point.

I think ideally the trace context ID should be ambiently available, rather than having to be explicitly threaded through control flow. Explicitly threading anything is a pain, lol -- we want to reduce pain as much as possibl

[2019-06-14 00:26] hawkw commented on #1146
I totally agree. My expectation is that when a request with a trace context ID is received, the middleware informs the subscriber which stores the context associated with the current span. We could then have a free function to get it by downcasting the subscriber to the expected type and asking it for the trace ID.

I'm not _opposed_ to the idea you brought up around arbitrary metadata, though it

[2019-06-14 10:54] qm3ster commented on #1094
@carllerche I don't know what you consider "some time", you seem to be blazing through it like knife through butter :100:

[2019-06-14 13:58] kazimuth commented on #1146
Yeah it's sorta a pain. Sometimes I wish rust had something like go's ctx.Ctx for misc stuff like this...

Could also do sometime like making the distributed subscriber wrap another subscriber and just handle the distributed stuff... But then you wouldn't be able to downcast it. Unless you stored the other subscriber as a `dyn Subscriber`, I guess.

[2019-06-14 16:40] LucioFranco opened #1149 "trace-core: Support creating an event outside of a subscriber context"
During my implementation of a rate limiter subscriber that wraps another subscriber like `tokio-trace-fmt` I ran into the want to create a custom rollup event within the `Subscriber::event` trait fn. Since we are outside of a subscriber context we can not use `Event::dispatch` but I want an `Event` that I can pass to the inner subscriber that contains custom attributes and a custom message.

The p

[2019-06-15 02:57] kazimuth opened #1151 "Tokio-trace docs"
It might be helpful to have:

- a link to tokio-trace in the main tokio README
- links to the various tokio-trace subscribers in the tokio-trace README, similar to how [log lists loggers](https://crates.io/crates/log/)

[2019-06-15 17:17] hawkw commented on #1151
Thanks for the suggestions! I'm currently in the process of working on improving the documentation for `tokio-trace`, so this is very helpful. If you're interested in following along/reviewing the docs changes, you may want to check out #1148.

Re:

If you're using `tokio::runtime`/`tokio::run`, the runtime will automatically propagate the subscriber context in which it's created to the worker thr

[2019-06-16 11:52] FSMaxB opened #1153 "unreachable triggered by Runtime::block_on and block_on_all when future panics!"
## Version

tokio 0.1.21 (also latest master as of now)

## Platform

Linux hostname 5.1.9-arch1-1-ARCH #1 SMP PREEMPT Tue Jun 11 16:18:09 UTC 2019 x86_64 GNU/Linux

## Description
When running a future that panics on a runtime with `block_on` or `block_on_all`, it will trigger an `unreachable` macro.

It *is* documented behavior, that those functions panic if the provided future panics, but it sh

[2019-06-17 09:11] binomial0 opened #1154 "tokio-async-await broken on latest nightly"
## Version

tokio-async-await 0.1.7

## Platform

Linux 4.15.0-51-generic #55-Ubuntu SMP Wed May 15 14:27:21 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

rustc: nightly 2019-06-14

## Subcrates

tokio-async-await 0.1.7

## Description

tokio-async-await doesn't compile.
[code]

This issue does not occur in nightly-2019-05-06. It is likely caused by [this change in rustc](https://github.com/rust-lang/r

[2019-06-17 19:56] seanmonstar opened #1156 "runtime: Change Runtime to no longer wait for idle to shutdown"
Currently, a tokio runtime allows spawning tasks on it, and it will by default block the thread until all tasks have completed. This allows one to spawn a few main tasks, and then assume everything will finish before the process exits.

The downside to the current approach is that it can sometimes be hard to tell why a runtime is still busy. It also prevents any notion of "daemon task", a task tha

[2019-06-17 20:00] sfackler commented on #1156
Apologies if this has already been discussed to death, but I've always kind of felt like the top-level `tokio::run` function is a bit like `Future::wait`, in that it confuses things. IMO it might be better to just have people construct and use a Runtime directly, which makes what's going on more obvious.

[2019-06-17 20:28] seanmonstar commented on #1156
@sfackler I guess the point is that it's supposed to be like `main`. We appreciate that `fn main` in Rust takes care of a bunch of boilerplate for us (handling argv and exist status). Still, even if we got rid of the static functions, this issue still tries to address the difference between daemon tasks and their affect on preventing shutdown.

[2019-06-17 21:33] carllerche commented on #1156
@seanmonstar I'm OK w/ the proposed change. This is more inline with how threads work.

@sfackler To address your comment, I would like to remove `tokio::run` in favor of an annotation:

[code]

There would still be the ability to create the runtime value by hand and the macro should be relatively foolproof.

[2019-06-17 21:36] emilyaherbert opened #1157 "403 From Link In Docs"
## 0.1.21

## Platform

docs.rs

## Description

This line is 403ing:
https://github.com/tokio-rs/tokio/blob/master/tokio/src/runtime/current_thread/mod.rs#L64

I found it linked from this page in the docs:
https://docs.rs/tokio/0.1.21/tokio/runtime/current_thread/index.html

[2019-06-17 22:04] carllerche commented on #1153
Makes sense to me. Would you be able to provide a PR to update the panic message? Thanks.

[2019-06-18 17:11] hawkw opened #1159 "trace: Move to separate repository"
`tokio-trace` is not tightly coupled to `tokio`, in particular, it does not depend on any of the other `tokio` crates. Having `tokio-trace` in the same repository as `tokio` can slow down development of both `tokio-trace` and the other `tokio` crates, as unrelated changes can cause CI build failures, branches can require complex rebases and merges, and it's necessary to build and test all of `toki

[2019-06-18 19:11] jonhoo opened #1161 "trace: Non-contextual span enter/leave"
I am currently instrumenting [`tokio-tower`](https://github.com/tower-rs/tokio-tower), and am running into a use-case that I don't think `tokio-trace` really supports. I want to trace the full path of a given request through the system, so the request is given its own `Span`. That `Span` should be entered once when the request is first issued, and not be left again until the request eventually res

[2019-06-18 19:22] jonhoo commented on #1161
As an addendum to this, it'd be great if it were possible to get a `Span` _back_ from the guard when you leave it. When the guard is owned, this should be mostly free, and would make it easier in the setting above to return the `Span` to the user if they gave it to us in the first place in case they want to operate on it further.

[2019-06-18 19:23] hawkw commented on #1161
@jonhoo thanks, I agree that this is something we ought to have.

Of the options you've proposed, I think leaving the existing borrowed guard (`Span::enter`) is probably a good idea, as many use-cases will want to have fairly short-lived enters that are scoped to a block, and the borrowed guard is more efficient in that case.

I think your final bullet point --- adding a function that moves the sp

[2019-06-19 06:30] maghoff commented on #1156
I stumbled upon this issue because I actually have the reverse desire: [`futures::executor::ThreadPool::run`](https://docs.rs/futures-preview/0.3.0-alpha.16/futures/executor/struct.ThreadPool.html#method.run) only blocks until the given feature has completed.

I agree that it quickly gets confusing and hard to debug when the executor blocks for all spawned futures. (I have this experience from nod

[2019-06-19 16:50] carllerche commented on #1156
It probably is fine to leave that ability on the `Runtime` type but have `#[tokio::main]` exit the process when the main fn completes.

[2019-06-19 23:26] cramertj commented on #1159
I know some folks that I work with (and probably some others) have found it confusing that some `tokio-xxx` crates are usable even without the tokio runtime, or have even avoided libs because they thought they couldn't use them due to not using the tokio runtime. With the move to a separate repo, it might also help for clarification to rename to `futures-trace` or similar.

[2019-06-20 00:18] hawkw commented on #1159
@cramertj

FWIW, `tokio-trace` also isn't tightly coupled to futures, either --- the utilities for instrumenting futures, streams, and executors with `tokio-trace` spans live in a separate `tokio-trace-futures` crate. :)

[2019-06-20 00:34] cramertj commented on #1159
Heh, maybe just "trace", then? ;)

[2019-06-20 15:47] hawkw commented on #1159
Sadly, it looks like there's already [a `trace` crate](https://crates.io/crates/trace) on crates.io (not sure if it's actively maintained, but it looks like it sees some use).

I think for now we'll _probably_ continue using the `tokio-trace` name, as the library is maintained by the Tokio project, but I'll make sure to state up front that `tokio-trace` does not require `tokio` front and center in

[2019-06-20 15:56] jonhoo commented on #1159
@hawkw it looks to have no reverse dependencies, so may be worthwhile reaching out to the owner.

[2019-06-20 16:32] hawkw commented on #1159
@jonhoo Yeah, it's definitely worth a shot and I'll reach out to him, just not committing to anything yet.

For what it's worth, I'm definitely open to other name suggestions, though I think there are a couple of considerations:
1. The name should make it clear what the library provides (sorry @davidbarsky, but your suggestion of `territory` is probably not going to fly, although I like it a lot)

[2019-06-20 16:37] jonhoo commented on #1159
`tracer`?

[2019-06-20 16:52] hawkw commented on #1159
https://crates.io/crates/tracer, also apparently unmaintained though. I'll reach out to the owner of that as well.

[2019-06-20 17:10] carllerche commented on #1159
I have `tracing`

[2019-06-20 18:53] FSMaxB commented on #1153
https://github.com/tokio-rs/tokio/pull/1166

[2019-06-21 05:29] carllerche opened #1168 "reactor: consider requiring all resources (TcpStream, TcpListener, ...) to be created from a runtime."
Currently, a `TcpStream` can be created at any time. On creation, the stream is not bound to any runtime. It is only on first use (call to poll_ready, read, write, etc...) that the resource is bound to the reactor. This lazy behavior requires non-trivial logic to support.

This functionality exists because of how Tokio is used with futures to date. It's common to do something like:

[code]

In thi

[2019-06-21 05:32] carllerche commented on #1168
If `TcpStream::connect` is called from *outside* of the runtime, I would then expect a panic to occur.

[2019-06-21 14:28] LucioFranco commented on #1168
I'm +1 on this, I think this is a good time to simplify. I don't think I have a use case where we need to construct outside of a runtime context.

[2019-06-21 14:41] tobz commented on #1168
Also +1.

[2019-06-21 15:50] richardwhiuk opened #1169 "tokio::timer::timeout::Error's API is sad"
## Version

0.1.21

## Platform

All

## Description

The API for https://docs.rs/tokio/0.1.21/tokio/timer/timeout/struct.Error.html is quite annoying to use.

When handling the error, you need to write code which reads like:

[code]

It would be much nicer if you could do:

[code]

The current approach doesn't feel very Rust-ic.

[2019-06-21 15:56] tobz commented on #1169
This is intentionally done for forwards compatibility so that adding a new variant doesn't immediately break peoples code, although I've seen tricks like a `#[doc(hidden)]` catch-all variant on enums so that callers had to have a wildcard match arm.

Not sure how Carl/Eliza/Sean feel about that pattern, though.

[2019-06-21 15:58] tobz commented on #1153
This was fixed in #1166.  Thanks again for reporting/fixing it. :)

[2019-06-21 15:58] #1153 closed

[2019-06-21 17:02] carllerche commented on #1168
There is an additional complexity. The delayed registration has another benefit.

When using the concurrent runtime, each thread has its own I/O reactor. The lazy registration allows one thread to accept all inbound sockets then distribute them across other threads. When the accepted TcpStream is first used on a different thread, it is registered with that thread's I/O reactor.

Currently, the laz

[2019-06-21 17:05] carllerche commented on #1169
As mentioned, this is done for forwards compatibility. Errors will not be enums in Tokio. It *could* be possible to have a conversion fn into enum, as there would be a way to future proof it.

That said, most errors have been removed in favor of a panic in the `std-future` branch.

[2019-06-21 20:52] hawkw commented on #1159
As per @carllerche, the owner of `trace` is interested in keeping the name, so I think when we do the repository move, `tokio-trace` will also become `tracing`.

[2019-06-23 07:13] driftluo opened #1172 "About threadpool blocking api"
Current API is this:
[code]

When the function returns not ready, `f` is eaten and does not return.

This API forces the user to make a self-cache `FnOnce` implementation when calling `blocking`, to handle the not ready state return.

I took a moment to look at the source code of the pool. Found that actually there is the ability to return `FnOnce` to the user. However, this is a breaking change a

[2019-06-24 11:34] tobz commented on #1157
Fixed in #1173.  Thanks for your report. 👍

[2019-06-24 11:34] #1157 closed

[2019-06-24 16:39] carllerche commented on #21
Closing due to inactivity.

That said, in general benchmarks are added as needed.

[2019-06-24 16:39] #21 closed

[2019-06-24 16:39] carllerche commented on #63
Closing due to inactivity.

[2019-06-24 16:39] #63 closed

[2019-06-24 16:40] carllerche commented on #138
Closing due to inactivity. If anyone wishes to contribute / work on this still, it would be best suited for the website repository.

[2019-06-24 16:40] #138 closed

[2019-06-24 16:47] carllerche commented on #285
We can possibly get ARM CI using http://www.shippable.com.

[2019-06-24 16:55] carllerche opened #1175 "test: provide a crate for making testing easier"
Common patterns have emerged across the ecosystem for testing code written with Tokio. These should be aggregated and organized into a testing crate.

The crate is `tokio-test` and should contain:

- [x] common assertions
- [x] clock / timer mocking facilities.
- [ ] I/O mocking
  - [ ] carllerche/mock-io@f3ddbf19207b4b91629a1e8a8122ca48828d1ffe
  - [ ] carllerche/fixture-io@3dc9148ae4319e34b499f8

[2019-06-24 16:56] carllerche commented on #295
I'm going to roll this up with #1175.

[2019-06-24 16:56] #295 closed

[2019-06-24 16:57] carllerche commented on #354
We opted to not do this, instead `tokio` includes feature flags to enable / disable functionality.

[2019-06-24 16:57] #354 closed

[2019-06-24 17:45] carllerche opened #1177 "threadpool: refresh internal structure"
Use what has been learned so far from the tokio-threadpool scheduler to refresh the internal structure.

Part of the focus will be to remove as much unnecessary logic and reduce the struct sizes.

## Context

At a high level, each thread in the threadpool is a standalone executor. When the thread is idle, it attempts to steal work from other threads. This provides good locality. Work is submitted

[2019-06-24 17:46] carllerche commented on #339
I believe this was handled.

[2019-06-24 17:46] #339 closed

[2019-06-24 17:47] carllerche commented on #363
Closing due to inactivity and no current strategy.

[2019-06-24 17:47] #363 closed

[2019-06-24 17:49] carllerche commented on #303
Closing due to inactivity. However, I think this case would be good to try to catch and log / warn somehow with tokio-trace. Thoughts @hawkw?

[2019-06-24 17:49] #303 closed

[2019-06-24 17:49] carllerche commented on #343
Closing due to inactivity.

[2019-06-24 17:49] #343 closed

[2019-06-24 17:52] carllerche commented on #1177
cc @stjepang

[2019-06-24 17:52] carllerche commented on #345
Closing due to inactivity.

[2019-06-24 17:52] #345 closed

[2019-06-24 17:56] carllerche commented on #321
This was resolved by removing the ability to pass a threadpool builder to the runtime builder.

[2019-06-24 17:56] #321 closed

[2019-06-24 17:56] carllerche commented on #357
The answer is yes.

[2019-06-24 17:56] #357 closed

[2019-06-24 17:57] carllerche commented on #367
Closing due to inactivity.

[2019-06-24 17:57] #367 closed

[2019-06-24 17:58] carllerche commented on #362
Relates to #1177. I'm going to close this issue as it has been inactive, but it will be cross linked from #1177.

[2019-06-24 17:58] #362 closed

[2019-06-24 18:00] carllerche commented on #486
Closing due to inactivity. However, I think the goal is to try to continue improving `tokio-threadpool`. I have opened #1177 with further thoughts.

[2019-06-24 18:00] #486 closed

[2019-06-24 18:26] carllerche opened #1178 "fs: support all executors, not just the threadpool"
When using the `curent-thread` runtime, the `tokio_threadpool::blocking()`
function is not available, which is currently a requirement for `tokio-fs` to
to run blocking filesystem operations.

Note that `tokio-current-thread` cannot implement a function equivalent to
`tokio_threadpool::blocking()` because futures in this single-threaded
executor are not necessarily `Send`. That means we cannot sta

[2019-06-24 18:27] carllerche commented on #386
This is now tracked in #1178.

[2019-06-24 18:27] #386 closed

[2019-06-24 18:30] carllerche commented on #840
`tokio::run` will be removed in favor of a proc macro:

[code]

[2019-06-24 18:30] #840 closed

[2019-06-24 18:32] ipetkov commented on #1178
Not strictly pushing for this, but an idea around this is configuring the executor what to do with a `blocking` call. Then the application can decide if a new thread should be spun up, or if the executor will just get blocked.

From a caller perspective I'd like `blocking` to *just work™* so that code can be a bit more generic in warning the executor of a blocking operation, without forcing caller

[2019-06-24 19:00] carllerche commented on #1178
@ipetkov generic blocking is tracked in #588.

[2019-06-24 19:15] carllerche commented on #1133
Implemented.

[2019-06-24 19:15] #1133 closed

[2019-06-24 20:01] carllerche opened #1180 "Provide `spawn` macro"
Another take on #626

Remove `spawn` function and replace it with a `spawn!` macro. The macro would return a handle to the spawned task. The handle would be annotated with `must_use`. The user would be expected to `await` on the return handled or to explicitly call `handle.detach()` (naming tbd).

Additionally, `handle.cancel()` would explicitly force the task to cancel.

Alternatively, the defaul

[2019-06-24 20:01] carllerche commented on #626
Superseded by #1180

[2019-06-24 20:01] #626 closed

[2019-06-24 20:04] carllerche commented on #495
I don't think this issue is relevant anymore:

- Runtimes will allow configuring how panics are handled (by default, they will swallow, which is OK because...)
- `spawn!` will return a handle annotated with `must_use`. panics are propagaged via this (#1180).
- `tokio::run` is removed in favor of an attribute macro.

[2019-06-24 20:04] #495 closed

[2019-06-24 20:04] carllerche commented on #495
If I am wrong, please post here and I can update the appropriate issue.

[2019-06-24 20:07] carllerche commented on #389
Tracked here: #1180

[2019-06-24 20:07] #389 closed

[2019-06-24 20:08] carllerche commented on #423
This issue is no longer relevant. Any improvements should be tracked in #1177.

[2019-06-24 20:08] #423 closed

[2019-06-24 20:10] carllerche commented on #443
No longer relevant. `tokio::run` is being removed in favor of a proc macro: `#[tokio::main]`.

[2019-06-24 20:10] #443 closed

[2019-06-24 20:35] carllerche opened #1181 "Consider caching the value of `clock::now()`."
Continuation of #392 ([original comment](https://github.com/tokio-rs/tokio/pull/381#issuecomment-393998588)).

The executor would cache the value of `Instant::now()` per tick.

This is flagged for 0.2 in case there are API changes required to `clock`.

[2019-06-24 20:36] carllerche commented on #392
Most of these are done. The clock one is tracked in #1181 now.

[2019-06-24 20:36] #392 closed

[2019-06-24 20:40] leodasvacas commented on #1180
Tracing information is not essential, so I think the builder pattern used to construct a named `std::thread` would work fine here.

[2019-06-24 20:42] carllerche commented on #535
Closing due to inactivity.

[2019-06-24 20:42] #535 closed

[2019-06-24 20:44] carllerche commented on #431
#1073 is an attempt to handle, but it isn't quite there. #1177 would make handling this much easier.

[2019-06-24 20:47] carllerche commented on #549
Closing due to inactivity.

[2019-06-24 20:47] carllerche commented on #549
The trait can go in `tokio-futures` probably.

[2019-06-24 21:10] carllerche commented on #570
Closing due to inactivity.

[2019-06-24 21:10] #570 closed

[2019-06-24 21:19] carllerche commented on #593
I'm pretty sure the issue is [this](https://github.com/tokio-rs/tokio/blob/06c473e62842d257ed275497ce906710ea3f8e19/tokio-threadpool/src/thread_pool.rs#L186). Calling `wait` will access a thread-local.

[2019-06-24 21:19] carllerche commented on #631
Closing as a dup of #593.

[2019-06-24 21:19] #631 closed

[2019-06-24 21:21] carllerche commented on #425
Now tracked in #1177.

[2019-06-24 21:21] #425 closed

[2019-06-24 21:25] carllerche commented on #629
#588 and #1178 track enough. This issue is not necessary.

[2019-06-24 21:25] #629 closed

[2019-06-24 21:26] carllerche commented on #1040
Could benchmarks be used to drive these changes?

[2019-06-24 21:28] carllerche commented on #700
I don't think this issue is relevant anymore:

- Runtimes will allow configuring how panics are handled (by default, they will swallow, which is OK because...)
- `spawn!` will return a handle annotated with `must_use`. panics are propagaged via this (#1180).
- `tokio::run` is removed in favor of an attribute macro.

If I am wrong, please let me know and I can updated the appropriate issue or reope

[2019-06-24 21:28] #700 closed

[2019-06-24 21:29] carllerche commented on #674
Ref: #1045

[2019-06-24 21:31] carllerche commented on #1154
Master is currently being updated to use std::future.

[2019-06-24 21:31] #1154 closed

[2019-06-24 21:33] carllerche commented on #970
It would probably be fine to provide a highres-timer option in Tokio... or update tokio_timer::Delay to have an option to pick high res.

[2019-06-24 21:45] carllerche commented on #970
That said, I'm going to close due to inactivity.

Any proposal that would be considered for inclusion in Tokio would need to:

- Support linux, *bsd, and windows platforms.
- Include an API proposal
- Include an argument for why it is useful to have a timer with greater than a 1ms resolution in an asynchronous context.

I looked quickly at windows and I do not see an obvious option there. However,

[2019-06-24 21:45] #970 closed

[2019-06-24 21:46] carllerche commented on #627
This should no longer be an issue as master is being updated to use std::future.

[2019-06-24 21:46] #627 closed

[2019-06-24 22:26] sbstp commented on #343
Hey Carl. Do you know if the `runtime` crate supports name resolution? I've been maintaining [this](https://crates.io/crates/tokio-dns-unofficial) for a few years, but I'm wondering if it's still necessary.

[2019-06-24 22:34] vi opened #1182 "tokio_tcp::TcpStream::poll_read_ready fails to detect HUP"
## Version

* tokio-tcp 0.1.3
* tokio 0.1.21
* mio 0.6.19

## Platform

x86_64-unknown-linux-gnu

## Description

`TcpStream::poll_read_ready` claims to always include HUP on supported platform. I assume Linux (and Unix in genereal) is a supported platform. Yet arrival of FIN on the socket does not cause it to return `Ok(Async::Ready)`.

## Sample code

[code]

When I run it against `nc -nvlp 1234

[2019-06-24 23:23] vi commented on #1182
With `mio = "=0.6.16"` it works:

[code]

With `mio = "=0.6.17"` it fails:

[code]

[2019-06-24 23:34] vi commented on #1182
https://github.com/tokio-rs/mio/commit/b89e3bd662c27242909b446dbb80c74249fe6042

[2019-06-25 00:41] Ekleog commented on #570
@carllerche Huh? Is a bug being old make it not-at-bug?

[2019-06-25 10:20] Ekleog commented on #570
@carllerche Re-reading my message make me notice it might have been of little value, if reading the notification without re-checking the context :) Could you consider reopening this issue, until tokio gets support for fd-passing over a local socket?

[2019-06-25 10:25] Ekleog commented on #570
BTW, for people willing to fix this: we've published the [`sendfd`](https://crates.io/crates/sendfd) crate which enables fd-passing in a non-async scenario -- I haven't yet really checked how to make it async, but at least it should provide pointers.

[2019-06-25 12:40] jonhoo commented on #1177
As part of this work, we should also look into tuning the "eagerness" of work stealing. I suspect that's where some of the remaining performance difference between `tokio-io-pool` and `tokio` comes from.

[2019-06-25 12:42] jonhoo commented on #367
See also [`tokio-os-timer`](https://github.com/jonhoo/tokio-os-timer) for finer-grained timers.

[2019-06-25 16:03] baloo commented on #570
@Ekleog problem I had is that I've been unable to design an API I've been happy with. If you have any ideas, I'd be happy to contribute to the feature.

[2019-06-25 16:17] carllerche opened #1183 "macros: provide #[tokio::main] macro"
The macro is already implemented in `tokio-macros`, but needs to be re-exported from the `tokio` crate as well as documented.

[2019-06-25 16:21] carllerche commented on #343
I don't know. I think the feature is still desirable, but to do it right requires waiting for tokio-blocking (#588). Once that happens, we can try to reboot this.

[2019-06-25 16:31] zkat commented on #1183
Is this a good first issue for a beginner who's unfamiliar with tokio? I've been looking out for opportunities to contrib.

[2019-06-25 16:37] carllerche commented on #1183
It could be yes. You can also get guidance in gitter.

It is mostly going to be exporting the macro from the tokio crate guarded by the `rt-full` flag.

[2019-06-25 17:43] carllerche commented on #1177
It would probably be possible to require a minimum queue depth to steal.

[2019-06-25 17:59] Ekleog commented on #570
@baloo I respect your design issues, and thank you for having tried :) On the other hand, this issue is not a PR with your code, it's an issue with the fact tokio doesn't have socket-based fd-passing.

Closing it because no proper API can be designed and @carllerche would rather have no API than a bad API would be a choice, closing it for “inactivity” on the other hand makes me think it was done a

[2019-06-25 18:07] baloo commented on #570
I don't mind the issue being closed. I understand the struggle of a maintainer with inactive issues in that it lower signal/noise ratio.
I'll vote to have it reopened should activity show up.

[2019-06-25 19:04] carllerche commented on #570
@ekleog the issue is indeed about bandwidth and not that Tokio does not want this feature. closed I ssues can be re-opened / cross refed when there is someone able to champion it. I would like open issues to represent a set of work that’s can realistically be done in the medium term.

[2019-06-25 19:50] carllerche commented on #699
I'm going to close this for now due to inactivity.

I believe Tokio's position is that we are fine to add positioned IO as a feature, but there is a lot of other fs work that needs to happen first. Also, we are cautious about adding dependencies on third party crates and we definitely are very conservative about including third party crates in the public API.

Once the other tokio-fs work happens,

[2019-06-25 19:50] #699 closed

[2019-06-25 19:54] carllerche opened #1186 "meta: instrument Tokio with `tracing`."
This issue tracks instrumenting Tokio using the `tracing` crate (formerly known as `tokio-trace`). I will be updating the description with thoughts and the issue can be used for general discusssion.

## Runtime

- [x] Active tasks (#697).
- [ ] Track worker-id polling task (#815).

## Net
- [ ] #1504

[2019-06-25 19:55] carllerche commented on #697
Tracked as part of #1186.

[2019-06-25 19:55] #697 closed

[2019-06-25 19:55] Ekleog commented on #570
@carllerche Thank you for this precision! It's your project, so you can handle it in the way you see fit :) That said, there are milestones on GitHub, which are designed for picking up issues that can realistically be done in the medium term while keeping pending issues open so that they are not forgotten about.

[2019-06-25 19:56] carllerche commented on #426
Closing for now. I think there is more work we can do down the line.

[2019-06-25 19:56] #426 closed

[2019-06-25 19:57] carllerche commented on #572
Work on this started, but stagnated. Work is [here](http://github.com/carllerche/shipit). Discussion can happen there instead of in the tokio repo.

[2019-06-25 19:57] #572 closed

[2019-06-25 20:00] carllerche commented on #1172
I agree that this is not ideal. The plan is to rework how blocking works (see "blocking" in #1177). Once this is done, the `blocking` fn will always succeed. Bounding the amount of blocking threads will be left to higher level abstractions.

Given this, I don't think the issue has any action item beyond #1177.

[2019-06-25 20:00] #1172 closed

[2019-06-25 20:03] carllerche commented on #1147
The plan is to rework how blocking works (see "blocking" in #1177). Once this is done, the blocking fn will always succeed. Bounding the amount of blocking threads will be left to higher level abstractions.

[2019-06-25 20:03] #1147 closed

[2019-06-25 20:14] carllerche commented on #707
It is stable now.

[2019-06-25 20:19] carllerche commented on #918
@ibabushkin any news?

[2019-06-25 20:19] carllerche commented on #765
This was done i believe.

[2019-06-25 20:19] #765 closed

[2019-06-25 20:20] carllerche commented on #800
Ref #1171

[2019-06-25 20:21] carllerche commented on #1017
Thanks for the report. At this point, tokio-core has been deprecated for a while and is no longer supported. I would recommend updating to `tokio` 0.1 (though we are also in the process of making a large breaking change).

[2019-06-25 20:21] #1017 closed

[2019-06-25 20:22] carllerche commented on #799
I'm fine adding more APIs, however I'm going to close this issue as there is no immediate bandwidth to implement this.

If someone wishes to champion this, we can re-open it or they can discuss in Gitter and submit a PR.

[2019-06-25 20:22] #799 closed

[2019-06-25 20:24] ibabushkin commented on #918
Well, a bunch of issues have been resolved over the last few weeks, but I haven't yet tested whether this helps tokio's use case. I suspect that the core issue that caused the false positives has not yet been fixed, however.

[2019-06-25 20:27] carllerche commented on #1168
Also, we should ensure the panic message is good.

[2019-06-25 20:27] carllerche commented on #727
Closing due to inactivity.

[2019-06-25 20:27] #727 closed

[2019-06-25 20:28] carllerche commented on #804
Master is in the process of switching to std::future.

[2019-06-25 20:28] #804 closed

[2019-06-25 20:29] carllerche commented on #815
Tracking this in #1186.

[2019-06-25 20:29] #815 closed

[2019-06-25 20:30] carllerche commented on #841
tokio-test was included. I unfortunately created a dup of this issue. I will pull in ideas from here into #1175.

[2019-06-25 21:03] carllerche commented on #841
tokio-test was included. I unfortunately created a dup of this issue. I will pull in ideas from here into #1175.

[2019-06-25 21:03] #841 closed

[2019-06-25 21:18] carllerche opened #1189 "codec: update to std::future"
`tokio-codec` should be updated to use `std::future`.

This issue is to track discussion and progress.

[2019-06-25 21:19] carllerche opened #1190 "tokio: update to mio 0.7"
Mio 0.7 is not yet released. The `tokio` master branch should depend on the `mio` master branch and track changes.

[2019-06-25 21:19] carllerche commented on #1095
This is now tracked by #1190.

[2019-06-25 21:19] #1095 closed

[2019-06-25 21:20] carllerche opened #1191 "tokio: update to bytes 0.5"
`bytes` 0.5 is not yet released. The `tokio` master branch should depend on the `bytes` master branch and track changes.

[2019-06-25 21:30] carllerche opened #1192 "fs: update to std::future"
`tokio-fs` should be updated to use `std::future`.

This issue is to track discussion and progress.

[2019-06-25 21:30] carllerche opened #1193 "signal: update to std::future"
`tokio-signal` should be updated to use `std::future`.

This issue is to track discussion and progress.

cc @ipetkov

[2019-06-25 21:31] carllerche opened #1194 "tls: update to std::future"
`tokio-tls` should be updated to use `std::future`.

This issue is to track discussion and progress.

[2019-06-25 21:32] carllerche opened #1195 "udp: update to std::future"
`tokio-udp` should be updated to use `std::future`.

This issue is to track discussion and progress.

[2019-06-25 21:33] carllerche opened #1196 "uds: update to std::future"
`tokio-uds` should be updated to use `std::future`.

This issue is to track discussion and progress.

[2019-06-25 21:55] carlosb1 commented on #918
I can try again if you need

[2019-06-26 03:14] #1183 closed

[2019-06-26 15:55] carllerche opened #1200 "threadpool: update to std::future"
`tokio-threadpool` should be updated to use `std::future`.

This issue is to track discussion and progress.

- [ ] update examples

[2019-06-26 15:56] carllerche opened #1201 "meta: update to std::future and release an alpha."
This issue tracks the progress of updating Tokio to use `std::Future`.

## Crates to update

- [ ] tokio-codec (#1189).
- [ ] tokio-fs (#1192).
- [ ] tokio-signal (#1193).
- [ ] tokio-threadpool (#1200).
- [ ] tokio-tls (#1194).
- [ ] tokio-udp (#1195).
- [ ] tokio-uds (#1196).

[2019-06-26 16:11] ipetkov commented on #1193
Started working on this and I noticed `tokio-signal` was still using the channels from `futures`. We should take this opportunity to migrate to `tokio-sync` for consistency across the `tokio` ecosystem (but might do this in separate PRs for reviewing sanity)

[2019-06-26 16:12] ipetkov commented on #1000
Adding to v0.2 milestone, I'd like to get this issue fixed (and the experience and implementation between Unix and Windows largely unified) before the next major release

[2019-06-26 16:32] carllerche opened #1203 "tokio: introduce I/O utility helpers"
The existing I/O utility helpers were deleted in #1164. New ones should be implemented.

The utility helpers will be implemented on `AsyncReadExt` and `AsyncWriteExt` traits and will exist in `tokio::io`.

Some helpers to add include, but are not limited to:

### `AsyncReadExt`

- [x] `read`
- [x] `read_to_end`
- [x] `read_to_string`
- [x] `read_exact`
- [x] `read_until`
- [x] `copy`

### `AsyncWr

[2019-06-26 16:56] carllerche commented on #1193
@ipetkov great :+1:

[2019-06-26 18:41] #616 closed

[2019-06-26 18:41] #1126 closed

[2019-06-26 18:41] #1195 closed

[2019-06-26 21:48] carllerche opened #1206 "remove usage of `Error::description()`"
`description()` is deprecated. At the very least, it is still used in `tokio-executor/src/enter.rs:25`.

This causes unhelpful error messages on panic, like:

[code]

[2019-06-26 22:06] ibabushkin commented on #918
No need, I just checked the output -- the issues remain :)

However, at this point it probably makes sense to prioritize such issues in the core logic, whereas most work done recently focused on quality-of-life improvements. I'll drop in later when something new can be expected.

[2019-06-26 22:07] carllerche commented on #918
Thanks for investigating. I will close the issue for now. We can investigate again once the issues are resolved.

[2019-06-26 22:07] #918 closed

[2019-06-27 01:03] sopium commented on #1126
Hi, I would like to add that in v0.1 there were already `poll_send` and `poll_recv`, which calls `send` and `recv` under the hood. They should work fine with connected sockets on MacOS.

In v0.2 you will be able to use `send` and `recv` with async/await.

[2019-06-27 04:02] carllerche opened #1209 "tcp: misc improvements"
Tracking misc smaller improvements to `tokio-tcp`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Features

- [ ] Expose `HUP` and `RDHUP` (#1182).
- [ ] Rethink std to/from conversions.

### Polish

- [x] `split` (#1217) bikeshed name & mod layout.
- [x] `split_mut` (#1289) bikeshed name & mod

[2019-06-27 04:34] carllerche opened #1210 "sync: misc improvements"
Tracking misc smaller improvements to `tokio-sync`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Changes

- Consider switching `Lock` to borrow.
- Consider moving `AtomicWaker` into dedicated crate or some other crate.
- Investigate `&mut self` requirement for `UnboundedSender`.

### Tests

-

[2019-06-27 06:09] bIgBV commented on #1203
I'm working on porting over `read_until` but it depends on the `std::io::BufRead` trait and the now deprecated `try_nb!` macro from tokio-io. I'm not sure how the `BufRead` bound will work with the new syntax.

One option is to copy over the functionality of `read_until` from `BufRead` into this future. This would mean adding a dependency on `memchr` though, as it looks like the standard library s

[2019-06-27 11:07] songproducer opened #1213 "Hello world documentation broken link and ncat didn't work on Mac"
Hi!

Was following this tutorial:
https://tokio.rs/docs/getting-started/hello-world/

Which has a broken link:
You can find the full example here.
https://github.com/tokio-rs/tokio/blob/master/tokio/examples/hello_world.rs

Also this command did not work on Mac:
ncat -l -p 6142
nc: missing port with option -l

[2019-06-27 13:34] LucioFranco commented on #1213
Looks like we need to update the website to point to the `v0.1.x` branch as master is in flux right now.

[2019-06-27 17:10] #1189 closed

[2019-06-27 18:14] carllerche commented on #1182
@vi yes, that was a bug. Reporting `RDHUP` as `HUP` was incorrect. I'm going to close this specific issue. I plan to revisit what events are exposed as part of 0.2.

[2019-06-27 18:14] #1182 closed

[2019-06-27 18:20] carllerche commented on #1098
Thanks for the report.

The async-await examples are removed on nightly (for now). This issue was caused by crate version problems, which should no longer be a problem once the examples come back.

[2019-06-27 18:20] #1098 closed

[2019-06-27 19:11] vi commented on #1182
Will it be possible to:

* monitor for TCP's FIN or RSTs
* while having the socket already shut down for writing
* without reading from it (backpressure)

after the revisit?

[2019-06-27 19:37] carllerche commented on #1182
Yes, I would like to. It will most likely require platform specific code in Tokio to do so.

[2019-06-27 19:38] carllerche commented on #1182
I added a note here: #1209.

[2019-06-28 01:39] ipetkov commented on #1193
One more issue I hit: `current_thread::Runtime`'s timer initialization is commented out, so none of the tests will run properly (since they enforce their own timeout to catch any deadlock regressions)

[2019-06-28 01:54] carllerche commented on #1193
Thanks for calling this out. It should be possible to bring back sooner than later.

[2019-06-28 17:53] hawkw commented on #1159
Hey folks, just wanted to let you all know that `tokio-trace` is now `tracing`, and now lives at [`tokio-rs/tracing`](https://github.com/tokio-rs/tracing). PR #1221 will remove it from this repository.

The crate formerly known as `tokio-trace-core` has been published to crates.io as [`tracing-core`](https://crates.io/crates/tracing-core) 0.1, and `tracing` 0.1 will follow shortly!

[2019-06-28 20:13] #1159 closed

[2019-06-28 23:05] carllerche commented on #1193
Working on it in https://github.com/tokio-rs/tokio/pull/1222

[2019-06-28 23:54] carllerche opened #1225 "tokio: provide future / stream / sink helpers"
Currently, the goal is to update `master` to use `std::future`. There currently are no future helpers provided by `std`. However, there are helpers provided by `futures-rs` and other locations.

`tokio` must decide how it will depend on external crates for both private and public usage as well as what helpers `tokio` will provide itself.

### Fix TODO

This list tracks places in the code base that

[2019-06-29 00:27] liranringel commented on #657
This issue has been resolved :)

[2019-06-29 00:27] #657 closed

[2019-06-29 06:36] #174 closed

[2019-06-29 06:36] #852 closed

[2019-06-29 09:37] rubdos commented on #1201
I'll take some (if not all) examples on me. Feel free to ping me on Gitter, merge request incoming.

[2019-06-29 15:46] atouchet opened #1229 "Missing links in Readme"
## Description

From the Readme:

I assume [Guides] and [API documentation] are supposed to be links.

[2019-06-30 03:42] bIgBV commented on #1203
Looks like `read_to_end` also depended on behavior from the `Read` trait and will have to be re-thought as well.

[2019-06-30 19:24] mqudsi opened #1232 "Possible thread leak on macOS 10.10 in Security.Framework?"
## Version

Direct dependency on `futures = 0.1`,  `tokio-core = 0.1`, and a separate dependency on `hyper = 0.12` giving the following dependency tree:

[code]

## Platform

macOS Yosemite 10.10 amd64

[code]

## Description

**NB: It's hard for me to pin this down but I was using an older version of tokio, hyper, and other dependencies and had some non-idiomatic code so I spent a few days upgrad

[2019-07-01 11:53] jxs commented on #1194
Hi, I started updating tokio-tls to to `std::future` (tokio-rs/tokio#1224) but noticed that `AsyncRead`/`AsyncWrite` are no longer bounded by `std::io::Read`/`Write`, and don't have a default implementation.
 Also `TcpStream` no longer implements `Read`, so `native_tls::TlsStream<S>::Read` cannot be called.

 Should `Read`/`Write` be added again to `TcpStream` (and all the other Structs that are u

[2019-07-01 22:32] carllerche opened #1235 "Remove `tokio::run()`"
This function is no longer relevant thanks to `#[tokio::main]`

Edit: `main` not `mian`.

[2019-07-01 23:30] carllerche opened #1236 "Re-enable tokio::util::Stream"
Figure out what to do with enumerate.

Ref: #1225

[2019-07-01 23:36] carllerche commented on #1193
#1237 turns out it was a bigger job than expected.

[2019-07-02 06:52] VictorKoenders opened #1239 "Inconsistency between TlsStream and TcpStream"
## Version
tokio_tcp 0.1.3
tokio_tls 0.2.1

## Description
I noticed that `tokio_tcp::TcpStream` has `&'a` implementations for `Read`, `Write`, `AsyncRead` and `AsyncWrite`, but `tokio_tls::TlsStream` does not

`tokio_tcp::TcpStream`:
[code]

`tokio_tls::TlsStream`

[code]

I'm running into an issue where I could use the `impl <'a> _ for &'a TlsStream` implementations. Is there a reason that these

[2019-07-02 14:02] sfackler commented on #1239
The implementation of TlsStream cannot be used concurrently.

On Mon, Jul 1, 2019 at 11:52 PM Trangar <notifications@github.com> wrote:

--
Steven Fackler

[2019-07-02 21:27] carllerche commented on #1232
Thanks for the issue report. Do you have a minimal repro demonstrating the issue?

[2019-07-02 21:35] #1239 closed

[2019-07-02 21:38] carllerche commented on #1194
We can probably add a `struct AllowStd<T>` similar to that in the futures repository that makes the bridge happy. Then:

[code]

I think this should work. Cheers.

[2019-07-02 21:39] carllerche commented on #1229
Ah yes. Guides should go to `https://tokio.rs/docs` and API documentation should go to: `https://docs.rs/tokio`.

[2019-07-02 21:57] mqudsi commented on #1232
I do not. Do you have a tokio stress test I could run?

[2019-07-02 22:55] carllerche commented on #1232
We have a number of stress tests in our test suite. You could try running the test suite and see.

[2019-07-02 22:56] carllerche commented on #1232
I ask for a minimal repro to rule out a bug in your code.

[2019-07-02 23:19] mqudsi commented on #1232
I understand, and because I don't at the moment have that I was wondering if there was some kind of test you already had that I could pound and not have it quit afterwards, giving me a chance to see if it reproduces on this OS even with the stock code.

tbh, if I had a minimal repro I'd have submitted a PR ;)

I did try to pin down what part of the code spawns new threads, but it does not seem to

[2019-07-03 17:24] hawkw commented on #800
Does #1171 close this, or is there more to do?

[2019-07-03 17:25] carllerche opened #1243 "signal: misc improvements"
Tracking misc smaller improvements to `tokio-signal`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Update to `std::future`

- [x] follow the future / stream helper strategy from #1225.

### Polish
- [x] replace `crate::ctrl_c{,_with_handle}` with a `CtrlC` struct with `CtrlC::{new, with_handl

[2019-07-03 17:41] #1193 closed

[2019-07-03 17:47] #1200 closed

[2019-07-03 18:00] qm3ster commented on #1235
I actually searched for `mian` :v

[2019-07-03 18:06] carllerche commented on #1235
woops...

[2019-07-03 18:09] carllerche commented on #1193
Done in #1218.

[2019-07-03 19:22] carllerche commented on #1225
Switch to futures-sink: #1244

[2019-07-03 20:07] jonhoo opened #1246 "sync/runtime: high latency between mpsc send and receive"
## Version

[code]

## Platform

[code]

## Subcrates

Probably somewhere in the interaction between `tokio-sync`, `tokio-executor`, and `tokio-reactor`.

## Description

I am using a bounded `tokio-sync::mpsc` channel to send requests from a number of clients (each with a `Sender`) to a single consumer (with a `Receiver`). The senders each only have one request outstanding at the time. With every

[2019-07-03 23:00] tikue commented on #1169
Can't forwards compatibility be accomplished by a [`#[non_exhaustive]`](https://github.com/rust-lang/rust/issues/44109) attribute?

[2019-07-03 23:29] hawkw commented on #1169
When `#[non_exhaustive]` has been stable long enough to compile on the minimum supported Rust version, yes.

[2019-07-04 01:29] ipetkov commented on #1243
Hey @carllerche thanks for opening this, you've pretty much hit on the major API changes I was intending we update as part of the next breaking milestone (the lack of polish is largely leftover remains from older APIs which couldn't get fixed without breaking changes).

I was considering changing the futures to return `()` rather than `i32` (and let the caller track what event stream represents wh

[2019-07-04 01:30] ipetkov commented on #1243
Assigning this to myself, but for anyone interested in tackling any of this, feel free to ping me for questions/help or cc me on any opened PRs!

[2019-07-04 01:37] carllerche commented on #1243
@ipetkov cool! Also, just to be explicit. All the points in this issue are up for discussion. I just opened the issue with anything I thought of skimming the code. If you think they are all good ideas, then great :+1:

[2019-07-04 05:59] #1229 closed

[2019-07-04 06:08] carllerche commented on #1169
@tikue it's also an 80% solution as it doesn't offer forwards compatibility on values contained by the enum. For example:

[code]

and the you want to pass another value with `Bar`... you could add a `Bar2` variant... which is better than nothing.

Anyway, closing as there is no further action to take. Timeout's error is now always expired.

[2019-07-04 06:08] #1169 closed

[2019-07-04 07:33] totorigolo opened #1248 "tokio-signal: update comment about ctrl-c with cargo run"
The `ctrl-c` example in `tokio-signal` mentions a bug about using `cargo run`. However, this bug has been solved: https://github.com/rust-lang/rustup.rs/pull/1242.

https://github.com/tokio-rs/tokio/blob/cbad83f36250dee743e9ccef0cf473fce3300d28/tokio-signal/examples/ctrl-c.rs#L24-L32

Then, I think that this comment can be removed. I just want to be sure before opening a PR.

[2019-07-04 14:33] carllerche opened #1250 "udp: misc improvements"
Tracking misc smaller improvements to `tokio-udp`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Polish

- [x] combine into tokio-net crate (#1264).
- [x] split (#1226) bikeshed name & mod layout.

[2019-07-04 14:36] carllerche opened #1251 "buf: misc improvements"
Tracking misc smaller improvements to `tokio-udp`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

[2019-07-04 14:36] carllerche opened #1252 "codec: misc improvements"
Tracking misc smaller improvements to `tokio-codec`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Api

- [ ] evaluate `Unpin` bounds. are they required?

### Polish

- [ ] evaluate module structure & re-exports with regards to error types.

[2019-07-04 14:37] carllerche opened #1253 "current-thread: misc improvements"
Tracking misc smaller improvements to `tokio-current-thread`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

[2019-07-04 14:39] carllerche opened #1254 "executor: misc improvements"
Tracking misc smaller improvements to `tokio-executor`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

[2019-07-04 14:39] carllerche opened #1255 "fs: misc improvements"
Tracking misc smaller improvements to `tokio-fs`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### `std::future`

- [ ] fix examples
- [ ] switch to `tokio-sync` channel

[2019-07-04 14:40] carllerche opened #1256 "io: misc improvements"
Tracking misc smaller improvements to `tokio-io`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Features

- [x] `AsyncRead::chain`, `take`, and any other missing helpers.
- [x] `split` helper. (#1521)
- [x] add `AsyncBufRead` implementations.

### Polish

- [x] module layout

[2019-07-04 14:41] carllerche opened #1257 "macros: misc improvements"
Tracking misc smaller improvements to `tokio-macros`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Tests

- [x] add error message tests: https://github.com/dtolnay/trybuild/ (#1591)

[2019-07-04 14:42] carllerche opened #1258 "reactor: misc improvements"
Tracking misc smaller improvements to `tokio-reactor`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Polish

- [x] combine into tokio-net crate (#1264).

### Performance

- [ ] provide unsafe unsynchronized concurrent access to read / write notifications. The caller must ensure only one thread

[2019-07-04 14:43] carllerche opened #1259 "test: misc improvements"
Tracking misc smaller improvements to `tokio-test`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Features

- [ ] allow configuring the runtime from test macro.

### Polish

- [ ] focus on `task::spawn` instead of having two ways to do things.
- [ ] `waker_ref_count` should not count the task

[2019-07-04 14:44] carllerche opened #1260 "threadpool: misc improvements"
Tracking misc smaller improvements to `tokio-threadpool`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Changes

- [ ] refresh internal structure (#1177)

### Considerations

- [ ] blocking should support `FnOnce` functions (#1342).

[2019-07-04 14:44] carllerche opened #1261 "timer: misc improvements"
Tracking misc smaller improvements to `tokio-timer`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### API

- [x] Consider switching `Delay::new(...)` -> `async fn delay(...)` (#1440).
- [ ] Consider renaming `Interval::next`, this would conflict w/ a `Stream` implementation.
- [ ] `Interval::new_

[2019-07-04 14:45] carllerche opened #1262 "tls: misc improvements"
Tracking misc smaller improvements to `tokio-tls`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Tests

* [ ] audit tests (some tests seem to require network access).

[2019-07-04 14:46] carllerche opened #1263 "uds: misc improvements"
Tracking misc smaller improvements to `tokio-uds`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Polish

- [ ] combine into tokio-net crate (#1264).
- [ ] audit usage of `Pin`.
- [ ] audit usage of `&self` vs. `&mut self`.
- [ ] move more code to `async fn`.
- [ ] `split` bikeshed name & mod l

[2019-07-04 14:50] carllerche opened #1264 "meta: consider combining crates"
Tokio has grown into many crates. Maintaining many separate crates requires overhead. I do not believe, in some cases, the benefits outweigh the overhead.

The primary reason to split functionality into crates is to enable releasing breaking changes at a different pace. Collapsed crates can maintain feature flags to enable / disable the various components to provide.

Some possibility of crates to

[2019-07-04 16:06] ipetkov commented on #1248
That sounds good to me, feel free to send a PR!

[2019-07-04 16:41] SauravDas90 opened #1265 "examples page is giving 404"
https://github.com/tokio-rs/tokio/blob/master/tokio/examples

The example page is giving 404.

and its on the main page

Can anyone please fix that?

[2019-07-04 16:42] LucioFranco commented on #1265
Hi, the master branch is currently in flux as we update to std::future::Future. The old examples can be found here https://github.com/tokio-rs/tokio/tree/v0.1.x/tokio/examples

[2019-07-04 21:32] carllerche opened #1268 "tls: consider switching default to rustls"
`rustls` is an implementation of TLS in Rust, backed by ring. It supports many of the newest features provided by TLS, but does not support old functionality that ~10% of websites require.

The question is, should `tokio-tls` switch to `rustls` or should `tokio-tls` stick to `native-tls`.

This issue is to track the discussion (instead of ad-hoc convos in gitter). I will attempt to maintain a summ

[2019-07-04 21:54] Ralith commented on #1268
The main argument against seeking to support obsolete functionality is that it presents a false sense of security.

Another concern with rustls is gracefully interoperating with OS certificate stores, which native-tls already does by default. This is probably achievable with some glue code, that could live in rustls or a helper crate:
- On Linux, [openssl-probe](https://crates.io/crates/openssl-pr

[2019-07-05 06:52] sopium opened #1271 "Vectored IO (like std and futures-preview)"
I was reading rust 1.36 announcement and noticed that vectored IO is now stablized in std:

* [`IoSlice`](https://doc.rust-lang.org/std/io/struct.IoSlice.html)
* [`IoSliceMut`](https://doc.rust-lang.org/std/io/struct.IoSliceMut.html)
* [`Read::read_vectored`](https://doc.rust-lang.org/std/io/trait.Read.html#method.read_vectored)
* [`Write::write_vectored`](https://doc.rust-lang.org/std/io/trait.Wr

[2019-07-06 17:20] elpiel commented on #1235
Can I pick this up?

[2019-07-06 17:20] carllerche commented on #1235
Sure, all the issues are up for grabs :+1:

[2019-07-06 17:21] elpiel commented on #1235
So update docs, remove usage of `tokio::run` in tests and etc?

[2019-07-06 19:33] djc commented on #1268
Cribbing some notes from a conversation that happened in the tokio-rs/dev Gitter channel (May 13th, with some follow-up from the tokio-rustls maintainer on May 21st):

- Possibility of supporting both native-tls and rustls through tls-api
- #535 was closed, but would probably be much more feasible with rustls
- tokio-rustls is pretty small
- Currently tokio-tls (native-tls based) lives in the toki

[2019-07-07 16:33] Diggsey opened #1272 "Should AsyncRead/AsyncWrite required pinned self?"
This is the current definition of `AsyncRead` (omitting provided methods):
[code]

`Pin` guarantees that the value will not be moved until it is dropped. For futures, this makes a lot of sense because once a future yields its value, it no longer has any use and can be dropped.

However, for `AsyncRead`/`AsyncWrite` types, I think the guarantee `Pin` makes is too strong.

We'll eventually want high

[2019-07-07 16:42] taiki-e commented on #1272
Refs: https://github.com/rust-lang-nursery/futures-rs/issues/1454

[2019-07-07 16:49] #1248 closed

[2019-07-08 15:45] carllerche commented on #1272
I believe the argument is that rust will gain support for async generators, and at that point `AsyncRead` could be implemented using async fns.

I'm personally hesitant to forward proof at this point and would be include to switch AsyncRead / AsyncWrite back to `&mut self` and re-evaluate once sufficient capabilities have landed in stable Rust and there is more experience using async generators.

[2019-07-08 16:09] carllerche commented on #1272
cc @sean

[2019-07-09 12:22] archseer commented on #1201
Note: while the tokio-threadpool crate was updated, the tokio crate itself is currently hardcoded to current_thread runtime. We should probably open an issue for that.

I tried porting [the required modules](https://github.com/tokio-rs/tokio/tree/master/tokio/src/runtime/threadpool) but couldn't quite figure out what the updated code should look like.

[2019-07-09 19:16] carllerche commented on #1201
@archseer good call.

[2019-07-09 19:59] carllerche opened #1278 "tokio: misc improvements"
Tracking misc smaller improvements to `tokio-sync`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Polish

- [x] audit re-exports
    - [x] how much should be re-exported in `tokio::executor`.
- [ ] switch I/O helpers to use `Buf` / `BufMut` / `Bytes`.
- [ ] improved way to block on a future (u

[2019-07-09 21:03] CryZe commented on #1201
Is there a reason AsyncRead and AsyncWrite are not just reexported from futures? These are causing incompatibility problems for me. If it's not intentional, I'll send a PR.

[2019-07-09 21:19] seanmonstar commented on #1201
@CryZe so far, that's been intentional. There's been desire to explore alternate method signatures.

What compatibility issues are there? With other libraries?

[2019-07-10 05:13] carllerche commented on #1201
@archseer bringing back the multi-threaded runtime: https://github.com/tokio-rs/tokio/pull/1280

[2019-07-10 12:19] ehiggs commented on #1094
#1120 was merged. Should the feature be re-enabled or are there further tickets tracking how/when we might be able to try async/await preview work?

[2019-07-10 15:42] LucioFranco commented on #1094
@ehiggs its no longer a preview :) The master branch contains work in progress breaking changes for `tokio` 0.2 which will include full support for `std::future::Future` and `async/await`. So really all you need to do is fetch tokio from git, use a nightly compiler and set the `#![feature(async_await)]` flag. There should be some examples if you look around the master branch.

[2019-07-10 15:45] carllerche commented on #1094
Also, #1201 is the tracking issue.

[2019-07-10 20:02] seanmonstar commented on #1235
The removal was done in https://github.com/tokio-rs/tokio/pull/1280. Do you wish to use this to track it examples/docs?

[2019-07-10 20:50] carllerche commented on #1235
I think we can close this. All examples / docs need to go through a full audit anyway.

[2019-07-10 20:50] #1235 closed

[2019-07-10 21:35] carllerche commented on #1264
As part of this, I would like to propose moving the I/O helpers back into the tokio-io crate. They would be feature flagged, so you could get tokio-io w/ just the traits. `AsyncReadExt` and `AsyncWriteExt` would stay in `tokio` (so that they can include fns that depend on other crates).

The goal is to be able to use the I/O helpers in other tokio crates (like tokio-fs).

[2019-07-10 22:14] Ralith commented on #1264
These have a similar notion of ancillary data, so if/when I or someone gets around to coming up with a safe zero-cost interface to that, having them in one place where they can share abstractions makes sense.

[2019-07-11 03:42] sopium commented on #1252
I noticed an issue: `LinesCodecError`, the custom error type for the `LinesCodec`, is never exported.

[2019-07-11 09:30] archseer commented on #1201
Thanks! With this I can now almost get things running (still tackling compat stuff). What I did notice though is that tokio-uds pulls in the tokio v0.1 crates because the dependency on it in tokio doesn't specify path ="../tokio-uds" I think:

https://github.com/tokio-rs/tokio/blob/master/tokio/Cargo.toml#L87

[2019-07-11 14:49] rubdos commented on #1201
FYI, proxy example at 914038e45e54e053daf9fdb55c40aa600eb2e3da (rubdos/tokio/proxy-example) works now (with `async fn accept()`), but needs `futures-preview`.  Feel free to pick that from my fork.

[2019-07-11 15:23] rubdos commented on #1225
This sounds like it's "decided" to use `futures-preview` then? A Stream trait would be very useful, since even the examples cannot be cleanly written without one. Even if you wrote https://github.com/tokio-rs/tokio/pull/1242 (`async fn accept()`) to avoid importing `Stream`, iterating over items in `Framed` also becomes cumbersome! (Found out while rewriting examples)

[2019-07-11 15:25] rubdos commented on #1201
Seems like all other examples depend on some decision like #1225, since some kind of `Stream` trait is basically required for nice async examples.

[2019-07-11 15:40] carllerche commented on #1225
As of now, Tokio will add a public dependency on the `Stream` / `Sink` traits. Internals, tests, and examples can use the helpers for those traits provided in `futures-util`.

[2019-07-11 16:09] carllerche commented on #1252
@sopium thanks, tracking.

[2019-07-11 23:50] Aaron1011 opened #1292 "Api docs link is out of date"
The README currently links to https://tokio-rs.github.io/tokio/doc/tokio/ for the `master` branch API docs. However, this page is significantly out of date - it's still using `futures` 0.1

[2019-07-12 19:49] dekellum commented on #1177
I'm been squinting at this since your reference to it, on close of #1147:

This would be great if possible. Would you be able to share more about how it could potentially work?  I don't follow how some higher abstraction could limit thread count, at least not without blocking on the `blocking` call, which obviously isn't advisable.

[2019-07-12 20:07] carllerche commented on #1177
You wouldn't limit thread count per se, but you would limit the max # of current blocking ops. You could do that w/ [Semaphore](https://github.com/tokio-rs/tokio/blob/master/tokio-sync/src/semaphore.rs).

[2019-07-12 20:22] dekellum commented on #1177
In that case, if `Semaphore::poll_permit` returns `Pending` wouldn't `blocking` need to also return `Pending`?  Besides, there would just be a 1-to-1 between permits and blocking threads and meanwhile N reactor (non-blocking) threads must be running?

[2019-07-12 20:27] carllerche commented on #1177
@dekellum assuming you are asking about how to impl for `Sink::poll_ready`, the strategy would be that `Sink::poll_ready` would call `poll_permit`. The Sink is ready to send a value once the sempahore is acquired. Then, sending the value will be able to block.

[2019-07-12 21:19] dekellum commented on #1177
Thanks @carllerche, I really appreciate that you read my use case per #1147.  I see now that tokio-sync's `Semaphore` includes the waking mechanism I was originally asking about.   Given the conditional blocking nature of my `Sink`s, I'd still need to buffer an Item, but waking would be taken care of.

If I arrange for a `Semaphore` in my own project code, then there would be some replication with

[2019-07-12 21:20] carllerche commented on #1177
Yes, I plan on having a runtime global "default" blocking set, where you can configure the max concurrency in the runtime builder. However, some things (like stdin / stdout) won't count against that anymore.

[2019-07-13 10:26] matthieugras opened #1296 "100% cpu in Enter::block_on"
## Version
master

## Platform
Linux 4.19.58

## Description
this code:
[code]

uses 100% cpu

Callgrind output:
![Screenshot_20190713_122337](https://user-images.githubusercontent.com/35115728/61170447-6966ba80-a569-11e9-9d92-7746eb223eb4.png)

[2019-07-13 22:24] carllerche commented on #965
I believe that @sopium has provided the answer, the error lies in incorrect usage of the Tokio APIs. As such, closing. If this is a misinterpretation, please comment and I can reopen.

[2019-07-13 22:24] #965 closed

[2019-07-14 04:35] 95th commented on #1296
Same thing happening for me in Windows 10

[2019-07-14 05:30] 95th opened #1297 "Use futures AsyncRead, AsyncWrite, ready! macro everywhere"
Now that futures crate has `AsyncRead` and `AsyncWrite` traits and `ready!` Macro,  I think we should use those and re-export them in tokio.

Is there a reason we have not done this so far?

[2019-07-14 06:15] carllerche commented on #1297
`ready!` was previously not available in futures-core. It is now, so we can switch to that.

As for `AsyncRead` / `AsyncWrite`, that was mentioned [here](https://github.com/tokio-rs/tokio/issues/1201#issuecomment-509813624).

I will keep this issue open for a bit in case there is follow up discussion.

[2019-07-14 08:12] 95th commented on #1297
Thanks.. I'll submit a PR for `ready!`. About `AsyncRead`/`AsyncWrite`,  I had the same concern as mentioned in that conversation. But it is just a concern, I have not run into any such compatibility issues yet.

[2019-07-15 00:39] SoniEx2 opened #1299 "CONTRIBUTING.md should list a contact for CoC enforcement"
## Version

N/A

## Platform

N/A

## Subcrates

N/A

## Description

The CONTRIBUTING.md should list a contact for CoC-related communications. I'm not sure it'd be a good idea to contact the Rust mods about Tokio moderation issues. The following excerpt suggests I shouldn't:

But I don't see any contact for the Tokio project.

[2019-07-15 01:19] SoniEx2 commented on #1299
well, while I'm at it, could I be unbanned from the gitter? I'm sorry about earlier.

[2019-07-15 06:44] taiki-e commented on #1203
I think it is good to define the `AsyncBufRead` trait and experiment with it, like `futures-io`.

[2019-07-15 07:24] georgmu commented on #965
Well, even if I may have solved it differently, I still think it is a bug.
The poll_peek never returns, even if there is data available (where it should return)

[2019-07-15 15:56] #1296 closed

[2019-07-15 17:24] carllerche commented on #1292
Yes, the docs have not been updated yet... I think the best step is to update the readme to reflect this.

[2019-07-15 17:44] #1292 closed

[2019-07-15 18:33] carllerche commented on #1265
The URL no longer returns a 404.

[2019-07-15 18:33] #1265 closed

[2019-07-15 19:18] mkindahl opened #1307 "udp: try_clone missing for UdpSocket"
## Version

0.2.0

## Platform

All

## Subcrates

tokio-udp

## Description

Although both `std::net::UdpSocket` and `mio::net::UdpSocket` provide an implementation of `try_clone`, there is no implementation of `try_clone` in `tokio::net::UdpSocket`.

[2019-07-15 20:06] jonhoo opened #1310 "TcpListener::incoming not available through tokio"
There is currently now way to name the new `incoming` feature of `tokio-tcp` through `tokio`. It should probably be forwarded somehow, or be on by default (like `async-traits`).

[2019-07-15 20:08] jonhoo opened #1311 "tokio::io methods are not exposed"
The various `tokio::io` helper functions appear to no longer be re-exported. Instead, they are just [left as private modules](https://github.com/tokio-rs/tokio/blob/2dde2b448faecea425555b91c004802a61e079f2/tokio/src/io/mod.rs#L39-L50), leading to compiler errors like:

[code]

[2019-07-15 20:13] jonhoo opened #1313 "tokio::spawn no longer returns a type that implements future"
In the past, `tokio` included this snippet:
https://github.com/tokio-rs/tokio/blob/b4cb3226ab0c3cc6af272ba27ce176c84c79b73b/tokio/src/executor/mod.rs#L137-L145

Which mean that `tokio::spawn` could be used in places where a future was required, such as at the end of `Stream::for_each`. This was pretty convenient. No such implementation exists for the new [`Spawn` on `master`](https://github.com/to

[2019-07-15 20:14] taiki-e commented on #1311
They were moved to ext traits in #1204.

[2019-07-15 20:17] #1311 closed

[2019-07-15 20:44] jonhoo commented on #1313
This is obsoleted by #1180.

[2019-07-15 20:44] #1313 closed

[2019-07-15 21:02] #1310 closed

[2019-07-15 23:04] carllerche commented on #965
I don't see how that could happen.

https://github.com/tokio-rs/tokio/blob/master/tokio-tcp/src/stream.rs#L328-L339

If you could provide a minimal repro, i can take a closer look. Something I
can easily run.

On Mon, Jul 15, 2019 at 12:24 AM Georg Müller <notifications@github.com>
wrote:

[2019-07-15 23:53] archseer commented on #1210
Should the channel implementations be shared with futures-channel?

[2019-07-16 03:12] fengyc opened #1316 "fs: confusing behavior of fs polling"
## Version
[code]

## Platform
macos 10.14.5
tuntaposx 20150118 (via homebrew)

## Description

After opened a tuntaposx tap device (`tokio::fs::File`), I tried this code:
[code]

Tap is a stream:
[code]

`poll_read` contains a `try_ready!`:
[code]

I expected to see this happen:  console prints `got xx bytes`, like
[code]

Instead, this happened: console prints `got 0 bytes`, cpu usage is 100%
[c

[2019-07-16 03:34] carllerche commented on #1316
Your example does not make correct use of `BytesMut`. `BytesMut::with_capacity` returns an **empty** value. When you call `empty_bytes.as_mut()` that returns an empty `&mut [u8]`, so nothing can be read into it.

[2019-07-16 03:34] #1316 closed

[2019-07-16 03:38] carllerche commented on #1210
@archseer futures-channel is welcome to copy whatever code. I don't know what their design goals are, so I cannot comment on whether or not they would want to copy it.

Given that the Tokio maintainers are the ones that will be maintaining the tokio-sync channel, it is easier for us to keep it in a crate we can publish to.

[2019-07-16 05:26] DoumanAsh commented on #1268
I think ideally people would want to have single crate that could be switched to different backend using features.

[2019-07-16 07:29] georgmu commented on #965
Sorry, I missed something and deleted my comment minutes after posting it, but the mail was already out. Closing this is okay.

The other problem I have seems unrelated. When woken up once, I cannot re-peek the data if there is not enough data (say: if n < 10 return Ok(Async::NotReady)) In this case the peek is not triggered again.

[2019-07-16 07:49] sorz commented on #1261
Should we impl `From<io::Error>` for `Elapsed` that converts it to `ErrorKind::TimedOut`?
It would enable chained expressions like `let len = stream.read(&mut buf).timeout(duration).await??;` in functions which return `io::Result`.

[2019-07-16 17:13] carllerche commented on #1261
@sorz that sounds good! I would take a PR for that 👍

[2019-07-16 17:14] carllerche commented on #1268
@DoumanAsh we could do that... the main question would be whether or not we could expose modern TLS functionality that only rustls supports.

[2019-07-16 17:26] #1194 closed

[2019-07-16 22:24] carllerche opened #1318 "rfc: collapse Tokio sub crates into single `tokio` crate"
There has been frustration among Tokio users regarding the number of crates pulled in when depending on Tokio. Here is an opportunity to discuss an alternative strategy. By doing this RFC, users who are happy with the current situation may express this.

# Summary

Do not maintain `tokio-*` sub crates, instead all Tokio code will exist in a single `tokio` crate and components are enabled or disabl

[2019-07-17 00:19] saethlin commented on #1318
In the Reddit thread on actix-web that probably prompted this, you said:

Is it known if any projects only pull in a small fraction of the tokio-* crates? It's always been my impression from looking at dependency graphs that they don't. I'm hoping someone has a good idea for how to collect data for this apart from manually auditing dependency graphs, which is the best I know how to do.

[2019-07-17 01:22] ipetkov opened #1319 "Pull tokio-process in tree"
As per my conversation with @carllerche we'll be pulling `tokio-process` in tree!

This will benefit by including `tokio-process` into the `tokio` ecosystem proper, and will allow for better reviews and contributions (plus lower the bus factor given that I'm the only primary maintainer at this time).

Below is a list of tasks which should be accomplished as part of this effort. They will likely ge

[2019-07-17 01:23] ipetkov commented on #1319
Assigning this to myself, I have a script ready to perform the history clean up, after the initial PR is merged anyone can feel free to tackle any remaining tasks!

[2019-07-17 01:25] sfackler commented on #1318
This seems generally reasonable, but I think we do need to figure out what to do with `tokio-io`. In 0.1, it's kind of "independent" of tokio in that it doesn't have any hard dependencies on the reactor, etc. Libraries like hyper and tokio-postgres use it as an interface for non-tokio runtimes.

In the new world, I think we will want some independent, small crate that defines AsyncRead/AsyncWrite/

[2019-07-17 01:28] ipetkov commented on #1318
Overall I think merging the crates will lead to a better experience for consuming crates.

Breaking changes will require a lot more effort to re-export things than bumping individual crates, but in my experience, there are very few "leaf" tokio crates that can be easily bumped without having to bump other crates as well. So, net-net, I don't think we'll lose much flexibility in practice.

Also fea

[2019-07-17 02:51] kpcyrd commented on #1318
A single tokio crate would make it a lot easier to maintain tokio in distros that package individual crates, like debian and fedora.

I think using a single crate is also a good idea if rust is ever going to do dynamic linking per crate.

[2019-07-17 06:53] lambda commented on #1318
I think that merging all of the crates into a single crate may be mostly just sweeping the perceived bloat under the rug.

A quick perusal of `cargo tree --no-dev-dependencies` in `reqwest` turns up dependencies that I would expect not to be needed, such as a full `tokio` runtime, including a `threadpool`. `reqwest` provides a synchronous API for simplicity (it also provides an async API, but I fe

[2019-07-17 10:49] oconnor663 commented on #1318
With feature flags there might be a risk that you don't include the ones you need, because your dependencies happen to include them, leading to possible breakage down the road when your dependencies change the flags they require. Maybe that's not a big problem if it's easy enough to fix? But it would be more of a problem for newer coders who might not understand why they're getting errors.

[2019-07-17 10:54] vi commented on #1318
Another concern is forking and `[patch]`/`[replace]`-ing Tokio components.

With single crate, entire Tokio needs to be replaced instead of e.g. just `tokio-tcp`.

[2019-07-17 11:49] magnet commented on #1318
I understand the maintainability concerns but I don't get the issue with the amount of dependencies. Currently someone can depend on tokio which re-export common crates, so one does not have to manually deal with many dependencies. In general I appreciate the modularity of the ecosystem and I feel using features to achieve the same end is less elegant and practical/discoverable for users.

Now, th

[2019-07-17 14:33] kornelski commented on #1318
I'm not sure if Cargo features are robust enough for this.

For example, in practice `default-features = false` is almost impossible to use, because any dependency *anywhere* in the dependency tree that just includes `tokio = "1"` will silently bring all the default features back.

Rust gives poor error messages when user forgets to add a feature flag. It just prints that the thing doesn't exist,

[2019-07-17 14:44] kornelski commented on #1318
In what way? I can see two sides:

1. User has to add multiple dependencies, so it's a chore to add multiple entries to `Cargo.toml`, open multiple docs pages.

2. Compilation lists lots of stuff, so it feels "bloated"

The first case could be fixed by still having separate crates, but also offering a top-level crate that groups and re-exports all of them. Users would add `tokio-kitchen-sink` to t

[2019-07-17 15:15] saethlin commented on #1318
I think users (including me) are frustrated by how fast compile time grows as we add dependencies, and the size of the dependency graph is an easy target for complaint. The presence of all the tokio crates and multiple versions of all the rand crates in an ostensibly single-threaded program quickly add credibility to blaming the compilation time on the size of a dependency tree. It would be intere

[2019-07-17 15:42] ehiggs commented on #1318
I think this is an XY problem. The perceived bloat is solved by binary packages in cargo/crates.io and caching it close to the CI instance.

[2019-07-17 15:51] saethlin commented on #1318
I'm not talking about CI.

[2019-07-17 16:00] vincentdephily opened #1323 "Stream trait docs broken links"
## Version
0.1.22

## Platform
Docs

## Description
The documentation for the `Stream` trait (various locations, for example https://docs.rs/tokio/0.1.22/tokio/prelude/trait.Stream.html) links to a no-longer-existing tutorial and a closed issue.

[2019-07-17 16:01] Mathspy commented on #1318
I am personally in the happy with the current situation boat. The arguments against many dependencies usually boil down to three metrics:
- Too many maintainers: This doesn't change by merging the Tokio crates because they are already maintained by the same people
- Too much code, takes too long to compile: This is strictly worsened by monolithic dependencies due to advantages of parallel compilat

[2019-07-17 16:07] ehiggs commented on #1318
@saethlin, my point was more general to the issue being addressed by the RFC: users perceive bloat in tokio and the RFC here is attempting to mitigate it by making an uber crate that wraps everything up. Aside from creating a new project, CI for a project depending on tokio, and actually working on tokio itself, when do you need to build tokio?

[2019-07-17 16:16] kpcyrd commented on #1318
Those are two separate issues. If you use micro libraries dynamic linking would imply loading >100 .so's into the process which is a non-zero-cost abstraction. With "C sized" crates the unused code would be LTO'd anyway. This is unrelated to distros.

The very real problem with distros is the review process for new packages. If rand decides it's going to need 5 more rand-* crates we need to get th

[2019-07-17 16:17] AZon8 commented on #1318
Starting at https://crates.io/crates/tokio/reverse_dependencies i've listed the numbers of reverse dependencies on crates.io
Hopes this help

| tokio | \#dependent |
| ------------ | ------------- |
| tokio | 608 |
| core | 381 |
| buf | 6 |
| codec | 114 |
| current-thread | 22 |
| executor | 51 |
| fs | 23 |
| io | 318 |
| reactor | 43 |
| signal | 22 |
| sync | 16 |
| tcp | 59 |
| threadpool |

[2019-07-17 16:27] ipetkov commented on #1318
One thing I forgot to consider earlier: can cargo handle different feature flags across dependencies and dev-dependencies? (at least it wasn't able to in the past...)

A common pattern I've seen is libraries depending on the minimal tokio functionality they need, while pulling in all bells and whistles during testing. If cargo cannot support enabling extra dependency features during testing, crate

[2019-07-17 16:58] rpjohnst commented on #1318
@Mathspy This is not necessarily true- rustc itself does parallelize compilation within a single crate, while cargo *doesn't* (yet) compile dependency chains in parallel. So depending on the crate graph things could go either way- it would have to be benchmarked, and it will change over time as the tools improve.

But this is still a relevant point- one of the reasons people complain about the num

[2019-07-17 17:27] kpp commented on #1318
And we will get a bloat of dependencies if you use tokio for codecs only in the library and tcp/udp in tests, because cargo will combine two features together:

[code]

It will compile tcp and runtime even for a non-test builds for the end users of a library.

[2019-07-17 17:29] Nemo157 commented on #1318
Not if they are pulling this library from crates.io, dev-dependencies features are only merged in when a crate is inside the current workspace or a path dependency.

[2019-07-17 17:33] kpp commented on #1318
Good to know. Thanks

[2019-07-18 13:30] kornelski commented on #1318
cargo-crev reviews and cargo-audit security advisories are per crate, and don't take features into account. If tokio keeps crates separate, and there's an issue with one of the less often used components, these will affect fewer users.

[2019-07-18 15:23] Mathspy commented on #1318
@rpjohnst Oh! I see, thank you for the clarification!

[2019-07-18 20:28] kpcyrd commented on #1318
That's a tradeoff with runtime overhead for a tooling problem though. It doesn't improve security, only binaries that actively run the vulnerable code are affected in both cases.

[2019-07-19 13:00] Kvikal commented on #1297
I have run into an issue regarding this. I wanted to use `BufReader` with `tokio_tcp::split::TcpStreamReadHalf`, but Tokio itself does not provide one (unless I missed it).
Futures has `futures::io::BufReader`, but it is built using different `AsyncRead` trait then the one used by `tokio_tcp::split::TcpStreamReadHalf`.

It would certainly be nice, if tokio/futures shared the same `AsyncRead`/`Asyn

[2019-07-19 15:38] LucioFranco commented on #1297
@Kvikal there is this https://github.com/tokio-rs/tokio/blob/master/tokio-io/src/async_buf_read.rs

[2019-07-19 15:48] qm3ster commented on #1318
To me, the most important factors are:
- Ease of contribution (for first time contributors and for everyone)
- Build time
- Build size

It seems that this change makes the first one harder, and allows the latter to grow with lesser negligence than the current arrangement.

Why should `monolith` v0.2 depend on `monolith` v0.3 instead of them both depending on `unchanged-type` v0.1?
The superficial

[2019-07-19 20:36] carllerche opened #1328 "test: add `tokio_test::block_on` fn"
Add `tokio_test::block_on(future)` function. This function would take a future and execute it on the current thread, blocking the thread until the future completes.

This function would use a test local runtime (similar to `#[tokio::test]`) to block on the provided future.

[2019-07-20 08:11] emk commented on #1268
Thank you to everyone who maintains tokio and its SSL support!

I maintain https://github.com/emk/rust-musl-builder, which is one of the semi-popular ways to build statically-linked Rust applications on Linux.

The OpenSSL C library is a source of constant misery: It doesn't follow semver, it breaks compatibility in subtle ways between 1.1.0 and 1.1.1 releases, it requires a bunch of extra work to

[2019-07-20 23:10] carllerche commented on #1307
Tokio cannot support cloning as the OS selectors do not allow storing different data for FD clones. Because of this, we cannot properly dispatch events if the FD is cloned.

[2019-07-21 08:42] mkindahl commented on #1307
Discussions about deprecating `TcpSocket::try_clone` and a discussion about why it does not work as expected:

* [Issue #774: Error : "socket already registered" when upgrading from 0.1.11 to 0.1.13 (comment)](https://github.com/tokio-rs/tokio/issues/774#issuecomment-443519689)
* [PR#824 - tcp: deprecate `TcpStream::try_clone()`](https://github.com/tokio-rs/tokio/pull/824)

[2019-07-21 09:26] djc commented on #1268
Note that @ctz recently started sketching out https://github.com/ctz/rustls-native-certs.

[2019-07-21 09:33] mkindahl commented on #1307
I still feel that it is a problem that you cannot clone the write end of a socket. It is a reasonable expectation that you should be able to use a socket from multiple locations to send out messages and there are no problems with supporting this on the OS level.

The alternatives to not supporting it in Tokio are:

* Implement some sort of system for dispatching messages through a unique socket in

[2019-07-21 17:19] alex commented on #1201
Should `tokio-tls` be checked off? The issue it points at was resolved.

[2019-07-21 17:52] carllerche commented on #1201
@alex thanks :+1:

[2019-07-21 18:43] ipetkov opened #1337 "process: Investigate using job objects and IOCP on Windows"
Originally reported in alexcrichton/tokio-process#11:

https://msdn.microsoft.com/en-us/library/windows/desktop/ms684141(v=vs.85).aspx

Please see the comments in the original discussion for context. It appears that this depends on tokio-rs/mio#526

[2019-07-21 21:50] taiki-e commented on #1206
Fixed in #1245.

[2019-07-21 21:50] #1206 closed

[2019-07-21 23:26] alex opened #1339 "tokio: doc-comment example in tokio/src/lib.rs uses non-existant tokio::run"
https://github.com/tokio-rs/tokio/blob/master/tokio/src/lib.rs#L37-L67

This still uses `tokio::run` even though that no longer exists on `master`. It should be updated to the new APIs.

[2019-07-21 23:50] carllerche commented on #1339
Yes, in general master docs are pretty busted. I plan to do a pass (to at least delete out of date examples) before cutting an alpha.

Happy to take PRs to update docs though.

[2019-07-21 23:53] carllerche commented on #1307
@mkindahl if you have a strategy by which cloning the socket can be implemented, I would be happy to consider it.

[2019-07-22 00:44] alex opened #1341 "macros: If tokio::main is used with a function that takes arguments, they are silently dropped"
The function that `#[tokio::main]` defines always is 0-argument: https://github.com/tokio-rs/tokio/blob/master/tokio-macros/src/lib.rs#L81-L96

This produces confusing error messages if used on a function that takes arguments. It should either support taking them, or provide a clear error message if this will not be supported.

[2019-07-22 00:52] leaxoy commented on #1264
And how about combining `tokio-executor` with `tokio-threadpool` and `tokio-current-thread`

[2019-07-22 08:22] rmanoka opened #1342 "tokio_threadpool::blocking should support FnOnce functions"
## Version

We use recent master version of tokio.

[code]

## Platform

Linux x86_64 running Ubuntu 19.04

## Subcrates

tokio-threadpool

## Description

The `blocking` API provided by `threadpool` moves and consumes the input function `f: FnOnce() -> T`.  However, in some branches of the implementation (specifically when returning `Poll::Pending`), the function is not used.

In total, this caus

[2019-07-22 08:49] mkindahl commented on #1307
@carllerche Thank you. I need to read through the code and the other bug reports to understand what the root problem is, and I do not have an abundance of free time (and am comparably new to Rust and Tokio), but I will see if I can figure something out.

[2019-07-22 18:13] seanmonstar opened #1344 "Change Executors to take &self"
The `Executor` and `TypedExecutor` traits both take `&mut self` in their `spawn` method. While this does make sense logically, it has this downside: you can't share an executor with an `Arc` (for example, an `Arc<dyn Executor>`). You can put the executor inside a `Mutex`, however *most* executors already can handle synchronization internally, frequently with some lock-free queue.

It might be a go

[2019-07-22 18:20] LucioFranco commented on #1344
@seanmonstar is there benefit to having them take `&self` over just having a cheap clone internally?

[2019-07-22 18:30] seanmonstar commented on #1344
The difficulty I ran into was when using it as a trait object, because then you can't make use of a cheap clone.

[2019-07-22 18:31] LucioFranco commented on #1344
Ah that makes a lot of sense, I think that is a good idea then!

[2019-07-22 18:31] carllerche commented on #1344
@seanmonstar the trait obj argument is solid. I am :+1:

[2019-07-23 11:12] yaa110 opened #1345 "tokio v0.1.22 uses vulnerable crates"
## Version

- 0.1.22

## Platform

Linux username 5.2.1-arch1-1-ARCH #1 SMP PREEMPT Sun Jul 14 14:52:52 UTC 2019 x86_64 GNU/Linux

## Subcrates

- tokio-threadpool > crossbeam-deque > crossbeam-epoch > memoffset

[code]

## Description

Please run `cargo audit`:

[code]

[2019-07-23 17:33] dekellum commented on #1345
See crossbeam-rs/crossbeam#395, crossbeam-rs/crossbeam#402 and pending crossbeam-epoch release in crossbeam-rs/crossbeam#401.

[2019-07-23 17:36] carllerche commented on #1345
@yaa110 what action do you expect to be taken based on this issue?

[2019-07-23 19:22] yaa110 commented on #1345
@carllerche
updating dependencies to address the security bug.
Should I expect something other than addressing the issue? 🤔

[2019-07-23 19:29] carllerche commented on #1345
@yaa110 updating dependencies is transparent to end users once it is released.

[2019-07-23 19:54] dekellum commented on #1345
I'm [enquiring](https://github.com/crossbeam-rs/crossbeam/issues/401#issuecomment-514356660) if this will be released as crossbeam-epoch-0.7.2 (transparent PATCH update for tokio users) or 0.8.0 (MINOR releases).  If its only the later, then tokio will require version bumps.  FWIW, I have some other changes I'd like to backport here to v0.1.x, and my proposal for that is now awaiting an answer reg

[2019-07-23 20:46] Nemo157 commented on #1297
If you do need compatibility between libraries using `tokio`'s traits and libraries using `futures`' traits for testing stuff now, I threw together a shim: https://github.com/Nemo157/futures-tokio-compat. As the readme mentions this is purely there to allow experimental testing (as I wanted to try using new `hyper` integrated with a library that was already based around `futures`' IO/task spawning

[2019-07-23 20:56] LucioFranco commented on #1297
@Nemo157 this seems really nice! We may want to bring this into actual tokio-io under a `futures-compat` feature?

[2019-07-23 21:06] Nemo157 commented on #1297
My hope is that there is only one set of traits in the end, I don't see any reason to have multiple of them (at least, when they're this similar, if they were more differentiated then they might be useful in different usecases). The only result of that I see is fragmentation in the ecosystem requiring compat shims like this everywhere.

Also note that the compat layer there is not zero-cost, and a

[2019-07-23 21:08] LucioFranco commented on #1297
@Nemo157 sorry, I didn't mean that we should have it in there as the goal around keeping it there forever. Mostly around the thought, while we play around with the traits users can easily continue to work with other libraries. I do hope, in the end, there is only one set of traits 😄.

[2019-07-23 23:21] udoprog opened #1346 "Unhide tokio_tcp::ConnectFuture?"
Since #1131 `ConnectFuture` is hidden behind an `impl Future`. This makes it hard for libraries that embeds it in their custom futures to use since there is no public named type to use.

While a custom future _should_ be less used in upcoming apis, it's still a papercut for the initial migration.

For example:
* [`irc`](https://github.com/aatxe/irc/blob/0.14/src/client/conn.rs#L12)
* [`tokio-zooke

[2019-07-23 23:28] udoprog commented on #1346
If this ends up being a concern, it might be worthwhile looking into other pub apis which have been similarly hidden behind an `impl Future`.

[2019-07-23 23:46] MOZGIII commented on #1201
I've implemented a [crate](https://github.com/MOZGIII/socks5-protocol-async) using `futures-preview` and now I'm trying to use it with `master` branch of `tokio`.

I'm getting this error:
[code]

At this point, I know what's causing it, and that there is a [workaround](https://github.com/Nemo157/futures-tokio-compat) available to make `tokio` and `futures-preview` play nicely together (thanks to g

[2019-07-23 23:56] LucioFranco commented on #1346
@udoprog are you able to `Box::pin` the future? I do agree it is a pain but I'm not sure if its worth it to expose it now because when would we remove it? At 0.2's actual release?

[2019-07-24 00:26] udoprog commented on #1346
Probably at some later point, when people and libraries have acclimated to new usage patterns of async/await.

But if we still have a need to embed the named future in places, I don't see why we we should hide it at all. Even with existential types, we'd still have to give it a public name to make it usable.

[2019-07-24 00:28] LucioFranco commented on #1346
Fair point! I think that makes sense and since we don't use `async fn` yet for connect I think that is fine.

[2019-07-24 08:36] theduke commented on #1318
There are valid arguments for and downsides to both approaches.

Since many of the comments have been pro multi-crate, I'll add some for the single crate approach.

### Reviews
I work with multiple companies that require each dependency to be reviewed. Each version must be signed off by an employee for production use. Splitting libraries like tokio into multiple crates makes this a lot more work.

[2019-07-24 14:49] LucioFranco commented on #1345
@dekellum what items are you looking to backport? I think it may be a good idea to give 0.1 a bump anyways.

[2019-07-24 15:20] carllerche commented on #1346
@udoprog

Why is this true?

[2019-07-24 15:21] carllerche commented on #1346
@udoprog the issue is, Tokio is going to be migrating to using `async fn` instead of all of these futures, so they will not be nameable at all.

[2019-07-24 16:26] #707 closed

[2019-07-24 18:11] dekellum opened #1348 "Proposal: v0.1.x lint fix, dependencies and MSRV updates"
I'd like to propose a set of related backports culminating in new releases, for the v0.1.x branch. If there are other changes being considered for v0.1.x, this might be a good way to organize them?

#### (1) Apply `dyn` keywords to avoid warnings on recent nightlies (MSRV 1.27.0)

These warnings are fatal with recent nightlies on a local git checkout, given the use of `deny(warnings)`. When built

[2019-07-24 18:15] LucioFranco commented on #1348
I think this mostly looks good and are some good ideas. I think 2,3,4,5,6 and 8 look good.

I'm a bit cautious about bumping the MSRV since @carllerche seems to be pretty adamant about keeping it on 1.26 without real reason. Is there a way we can fix the `dyn` keyword warnings without updating the MSRV?

also remember to make the PR's against the `v0.1.x` branch.

[2019-07-24 18:19] carllerche commented on #1348
Personally, I would rather limit the 0.1 branch to bug fixes only at this point (to save time).

[2019-07-24 18:20] carllerche commented on #1348
We can silence warnings that we don't plan on fixing for CI.

[2019-07-24 18:46] dekellum commented on #1348
For me, its a question of how long I'll be using tokio 0.1.x.   If that is measured in months, then I find this worthwhile. I also realize you might want to wait on this, and consider what else comes up for 0.1.x?

parking_lot 0.9.0 has bug fixes, see https://github.com/Amanieu/parking_lot/blob/master/CHANGELOG.md since parking_lot-0.7.1, and it requires MSRV 1.31.0.  MSRV 1.32.0 is required to te

[2019-07-24 19:52] JohnDoneth commented on #1252
The issue with regards to `LinesCodecError` has been resolved in #1350.

[2019-07-24 22:13] udoprog commented on #1346
@carllerche

My bad. _I think_ we'd need to give it a name in our crate, but I guess that depends on how the implementation pans out.

Hm. I guess then I'm asking to consider delaying that to give library developers time to adjust: One major release moving to `std::future` potentially marking these named futures as deprecated. One to go full `async fn`.

Otherwise the choice for library devs will

[2019-07-24 23:01] dekellum commented on #1345
crossbeam-epoch-0.7.2 was just released with memoffset 0.5. dep, so tokio users get this fix with a `cargo update`, transparently.

[2019-07-25 05:28] DoumanAsh commented on #1346
@udoprog existential types are basically can be treated as generic arguments. I'm not sure why in first place they had to name it separately, but basically they are not much different from when you have something like `fn lolka<A: Debug, B: Debug>(a: A, b: B)` which you want to use when A and B can be different.

But I'm not sure how it is a concern for your public API.
Each `Future` can be distin

[2019-07-25 06:59] udoprog commented on #1346
@DoumanAsh

This reads like a misunderstanding, what I wrote was:

So using existential types to capture the output of a function would be fine. I'm saying that I'm wary of exposing public async fns in this library unless something like that exists (in stable Rust).

[2019-07-25 07:10] DoumanAsh commented on #1346
Well then we should urge stabilisation of existential types because for async fn it is essential thing, as otherwise we're limiting usage of async await to internals only

[2019-07-25 13:07] danielhenrymantilla opened #1353 "::tokio_executor::SpawnError should be able to give the boxed future back"
The current (`0.1.8`) API of `::tokio_executor::Executor` API does not allow to get the future back when `spawn()` fails. This leads to having to rely on `.status()`, which is suboptimal due to, among other things, [TOC/TOU](https://en.wikipedia.org/wiki/Time-of-check_to_time-of-use)

[2019-07-25 14:35] LucioFranco commented on #1346
I think the one benefit of keeping it hidden is that it will start forcing people to either use Box or migrate to async/await. If we release two breaking changs 0.2 and 0.3 very shortly after, this will create some unneeded fragmentation. A big reason we are still on tokio 0.1  and not any higher versions.

@udoprog does something like boxing work while you wait to rewrite to async fn?

[2019-07-25 15:07] carllerche commented on #1353
Thanks for the report.

This is intentional. Using `status` is best effort. There is no guarantee that after you spawn the task is run, even if it were to give you the task back. If you require more rigorous guarantees, you can implement a layer on top of spawn.

If you can provide a compelling argument as to why this is the incorrect design, I can reopen the issue.

[2019-07-25 15:07] #1353 closed

[2019-07-25 17:51] dekellum commented on #1346
Interested read this. I hadn't realized `feature(existential_type)` was this far along.

In case it helps, there is the possible middle ground of composing an `async fn` into a (non-`async`) `fn` that returns `impl Future`.  See:

https://github.com/dekellum/body-image/blob/futures-compat-uni/body-image-futio/src/futures_03.rs#L28

which composes an `async fn` (in same file) here:

https://github.

[2019-07-25 18:41] taiki-e commented on #1348
I think it is enough to remove `deny(warnings)`. It is what the futures 0.1 do.

[2019-07-25 18:48] dekellum commented on #1348
Doing it this real way (#1351) makes sense, IMO, if any of other, MSRV raising, parts of this proposal are eventually accepted.

[2019-07-25 18:55] taiki-e commented on #1348
IIRC, we don't receive warnings from external crates other than compatibility warnings.

[2019-07-25 19:06] dekellum commented on #1348
Yes, I try to explain the `--cap-lints` flag and CI implications in #1351.

[2019-07-25 19:21] taiki-e commented on #1348
Oh, sorry, I missed that.

[2019-07-25 20:00] taiki-e commented on #1256
https://github.com/tokio-rs/tokio/pull/1301 just added traits and combinators. We should add `AsyncBufRead` implementations to some types. (added check box)

[2019-07-25 20:11] rep-nop opened #1356 "tokio::fs::File::open errors with "`blocking` annotated I/O must be called from the context of the Tokio runtime.""
## Version
Git master branch

## Platform
64-bit Windows 10

## Subcrates
`tokio-fs`

## Description
Minimal reproduction:
[code]
This will error with
[code]
even when using the default multithreaded runtime. Manually starting the runtime doesn't seem to work either.

[2019-07-25 20:12] carllerche commented on #1356
Could you include the list of crates you got pulled in (including deps). Odds are you are mixing git deps & crates.io deps.

[2019-07-25 20:14] rep-nop commented on #1356
From my `Cargo.lock`:
[code]
[code]

[2019-07-25 20:32] Proximyst commented on #1356
Would just like to note that the issue doesn't seem to be platform-dependent.

[code]

The code is simply the minimal reproduction example.

[2019-07-25 20:35] carllerche commented on #1356
Ah! Ok, I see the problem... This is due to #1329...

I'm not sure what the best short term fix... the longer term fix is to finish a bunch of planned work...

[2019-07-25 21:23] udoprog commented on #1346
@LucioFranco

I'm actually bringing this up to avoid fragmentation right now. Pushing people towards structurally rewrite their libraries will be a roadblock to migrate to the next version of Tokio. In my view the nice way to do these sort of things for such a fundamental crate as tokio would be to build new APIs and deprecate old ones over some period of time. Breakage is guaranteed since the Fut

[2019-07-25 22:02] LucioFranco commented on #1346
I agree with you on this one, my worry is how much this might hinder us in finding the right api's. I think with such a fundamental change like async/await we are kinda stuck in this spot. I'm not totally sure what the right approach is still :(

@carllerche I'd like to hear your thoughts on this

[2019-07-25 22:17] dekellum commented on #1348
CI testing already only performs `cargo check` type validation on the MSRV, so MSRV need only be raised to 1.31.0 for this.  rust 1.32.0 is required to actually run the tests, given updated rand and other test dependencies. Edited proposed target tokio MSRV in above description.

[2019-07-26 04:13] DoumanAsh commented on #1346
tokio 0.2 will sure take a while because it requires async/await stabilization so I think people will have more than enough time
Hard breaking change is better here because it would require less breaking changes in future

[2019-07-26 20:26] JohnDoneth opened #1361 "Deadlock issue with tokio::sync::lock::Lock"
For some reason `Lock::poll_lock` is not returning `Poll::Ready` even after the `LockGuard` is dropped. This is leading to a deadlock.

Below is the code & link to the project I wrote to showcase this issue.
https://github.com/JohnDoneth/tokio-sync-bug
[code]

Example output:
[code]

[2019-07-26 21:43] VirrageS commented on #1361
Are you sure that is the case?

When threads are spawned all go to this line:
[code]

At least 5 of them will make past this line since they will get `Poll::Ready` but rest of them will be stuck on `Poll::Pending`. But then they are never woken up (when some `LockGuard` is dropped there should be mechanism to wake other `LockFuture`s).

I said at least 5 because some of the threads could be so fas

[2019-07-26 22:01] JohnDoneth commented on #1361
I'm fairly certain. I verified that `Poll::Ready` was not being returned by putting a print line in the poll method when `Poll::Ready` is returned. I also verified that they are still being polled by printing on `Poll::Pending` as well, which does get printed out after the deadlock occurs.

Ah, are you saying that there needs to be another layer of waking here because I'm polling multiple `Lock`'s

[2019-07-26 22:15] VirrageS commented on #1361
Actually, I think that I misread the code. I didn't notice that you are passing the `cx` to the `poll_lock` which should trigger waking up.

[2019-07-27 21:24] russelltg opened #1363 "Can't use codec and Framed with Udp"
## Version
Master as of today (Jul 27 2019)

## Platform
Linux, not that it should matter

## Subcrates
tokio-udp, tokio-codec

## Description
In tokio 0.1, you could use a `UdpFramed<SomeCodec>` to have a codec applied to your UDP socket. In tokio master, this seems to be replaced with `Framed`, which only supports `AsyncRead + AsyncWrite` types, which `UdpSocket` is not.

Is there any planned wa

[2019-07-28 06:43] osa1 commented on #1201
I think "chat", "udp-codec" and "tinydb" examples can be checked off as well.

[2019-07-28 11:10] svartalf opened #1364 "Implement the AsRawFd/AsRawHandle for tokio::fs::File"
`tokio::fs::File` should has the [std::os::windows::io::AsRawHandle](https://doc.rust-lang.org/std/os/windows/io/trait.AsRawHandle.html) and [std::os::unix::io::AsRawFd](https://doc.rust-lang.org/std/os/unix/io/trait.AsRawFd.html) implementations.

It was mentioned before in #674, but it is kinda about a different thing, so I thought it's worth to create a new issue.

[2019-07-29 13:14] cynecx commented on #1361
I don't think there is a deadlock issue in tokio-sync, my hypothesis is that your reproduction code is broken because the poll method creates clones of the locks and calls `poll_lock` but is dropping the locks when the loop has ended, this may inhibit the notification of the task. To check this hypothesis, I modified your code so that a `LockFuture` owns a cloned vec of locks.

[code]

As far as I

[2019-07-29 13:58] JohnDoneth commented on #1361
Perfect! Thank you for helping me figure this out, it makes perfect sense in hindsight. I tested it with the original code I was working on and can confirm that it was the issue.

[2019-07-29 13:58] #1361 closed

[2019-07-29 15:17] LucioFranco commented on #1363
hi! looks like we have still yet to port `UdpFramed` which is what you are looking for.

https://github.com/tokio-rs/tokio/blob/master/tokio-udp/src/frame.rs#L27

This just needs to be updated to std::future::Future.

[2019-07-29 17:13] dekellum commented on #1348
Reduced releases proposed above (8) to -threadpool and -reactor only.   The other two, -fs and -timer, have dev dependency/testing only changes in this proposal so they don't require a release.

[2019-07-29 17:34] LucioFranco commented on #1201
@osa1 thanks, its done!

An update, I think we want to get all the examples updated and do a final pass of the crates then we can start publishing alphas!

[2019-07-29 21:56] bddap opened #1366 "Runtime::new error cases not documented"
## Version

0.1.22

## Description

The documentation for [Runtime::new](https://docs.rs/tokio/0.1.22/tokio/runtime/struct.Runtime.html) does not specify error cases. It is unclear when Runtime::new might fail.

## Suggested fix

Include an "Errors" section as recommended in the [Rust api guidelines](https://rust-lang-nursery.github.io/api-guidelines/documentation.html#function-docs-include-error-

[2019-07-30 15:18] Proximyst commented on #1201
You forgot the TCP echo on the examples list :)

[2019-07-30 16:53] carllerche commented on #1363
It was explicitly punted on for now.

Having `async` fns on UDP ops changes the calculus a bit. Could you elaborate a bit on how you were using UDP framed?

[2019-07-30 16:55] #1236 closed

[2019-07-30 17:20] carllerche commented on #1345
@dekellum Thanks for following up :+1: closing this now.

[2019-07-30 17:20] #1345 closed

[2019-07-30 18:40] carllerche commented on #1342
Rolling this up with #1260. We can reopen this once there is some activity on that front.

[2019-07-30 18:40] #1342 closed

[2019-07-30 19:47] carllerche commented on #1346
Exposing the future types will prevent tokio from using async / await. I rather push towards getting libs using async / await. As mentioned, futures can always be boxed to name them.

[2019-07-30 20:16] dekellum opened #1369 "tokio-tls 0.2.1 MSRV raised to 1.28.0 by pkg-config, v0.1.x CI broken"
## Version

tokio-tls 0.2.1

## Platform

x86_64-unknown-linux-gnu

## Subcrates

tokio-tls

## Description

MSRV tested and advertised for current tokio-tls 0.2.1 release and current v0.1.x branch is 1.26.0. However [pkg-config 0.3.15 was recently released with MSRV raised to 1.28.0](https://github.com/rust-lang/pkg-config-rs/blob/master/CHANGELOG.md#0315---2019-07-25) (rust-lang/pkg-config-rs#76

[2019-07-30 20:24] dekellum commented on #1348
Regarding the question of raising MSRV,  here is a first example of dependencies deciding that for us: #1369 (to 1.28.0). I suspect that this will only continue with existing v0.1.x release dependencies, such that eventually 1.31.0+ will be the defacto MSRV.  That argues in favor of accepting an MSRV increase for the good reasons described here.

[2019-07-31 01:11] ipetkov opened #1371 "process: misc improvements"
Tracking misc smaller improvements to `tokio-process`.

This issue is to be closed once there are no remaining breaking changes to make **or** remaining breaking changes are tracked in separate issues.

### Update to `std::future`

- [x] follow the future / stream helper strategy from #1225.

### Polish
- [x] replace the `CommandExt` trait in favor of a `process::Command` wrapper (similar to what

[2019-07-31 01:12] ipetkov commented on #1371
Assigning this to myself to review/drive, but any tasks are up for grabs by anyone interested! (feel free to ping me for reviews or ideas!)

[2019-07-31 06:08] seirdb commented on #1363
I noticed the same issue when looking at async/await for our current project.
We we're using the UDP framed to iterate (for_each) over the received packets (decoded datagrams) on a not-connected socket.

Looking at the docs for the current [master](https://github.com/tokio-rs/tokio/commit/ff922bbe6d8de897b01f006b8e22a59bef2c9190) branch, this is feasible to do by splitting the `UdpSocket` and usin

[2019-08-01 04:42] udoprog commented on #1346
"Permit impl Trait in type aliases" RFC merged a couple of days back (rust-lang/rfcs#2515). Still some ways to go before stabilization but encouraging!

[2019-08-02 05:32] mokomull commented on #1203
Does `AsyncRead::split()` belong on this list as well?  It seems to have been replaced with a TCP-only implementation, but I was using it with UnixStream.

I am currently using futures 0.3's `AsyncReadExt::split` instead, via @Nemo157's [shim from #1297](https://github.com/tokio-rs/tokio/issues/1297#issuecomment-514377285), and it works beautifully.

[2019-08-02 07:14] rrichardson commented on #1201
@seanmonstar  wrote:

I might be missing something obvious,  but it is awkward to use tokio::TcpStream and friends which implements tokio::AsyncRead/Write and reconcile that with much of the Futures API which expects its own AsyncRead/Write.

Is there an alternative to TcpStream that implements futures::Async* ?

[2019-08-02 10:18] AGausmann commented on #1201
I'm working on reimplementing `blocking` example, and I discovered that `tokio_threadpool::blocking` returns a `Poll`. This is not very ergonomic in the current state of futures; I would likely have to use something like `futures::poll_fn` if one exists, or write my own future wrapping it. Is that something that we would want to turn into an `async fn`?

[2019-08-02 11:58] madadam commented on #1356
I hit this same issue, but with `#[tokio::test]`. My workaround is to do something like this:
[code]

[2019-08-02 14:16] LucioFranco commented on #1201
@rrichardson you can use this compat layer for now https://github.com/nemo157/futures-tokio-compat/ we are still exploring the API a bit and the one in the futures crate isn't stable either.

@AGausmann I believe we've been using https://github.com/tokio-rs/async/blob/master/async-util/src/future/poll_fn.rs#L34 but there is also https://docs.rs/futures-preview/0.3.0-alpha.17/futures/future/fn.poll

[2019-08-02 16:11] carllerche commented on #1264
@leaxoy added it to the list :+1:

[2019-08-02 19:23] #1203 closed

[2019-08-03 03:59] sfackler opened #1383 "tokio-tls should expose methods on TlsStream"
## Version

master

## Subcrates

tokio-tls

## Description

`native_tls::TlsStream` has various methods defined to access the underlying stream, the peer's certificate, and channel binding information. Now that `tokio_tls::TlsStream` doesn't publicly expose the inner `native_tls` stream, it will need to directly define equivalent methods.

https://docs.rs/native-tls/0.2.3/native_tls/struct.TlsStr

[2019-08-03 11:04] sfmunoz opened #1386 "tokio-process: stdout / stderr not read in the order they are produced by underlying process"
## Version

[code]

## Platform

`Linux localhost 4.15.0-3-amd64 #1 SMP Debian 4.15.17-1 (2018-04-19) x86_64 GNU/Linux`

## Problem

**stdout** and **stderr** are not read in the order they are produced by the underlying process.

## Description

- I'm running external programs which produce one line to stdout, another line to stderr, another to stdout and so forth.
- Instead of being processed as

[2019-08-03 15:20] sfmunoz commented on #1386
This seems related to the behaviour I described:
- https://github.com/rust-lang-nursery/futures-rs/issues/354: **Handle long-running, always-ready futures fairly**
- https://github.com/rust-lang-nursery/futures-rs/pull/352: **Introduce yield_after combinator for improving fairness**

I performed more tests and managed to find some ugly workaround:
- **bash test**: add `sleep 0.01` to every iterati

[2019-08-03 16:39] sfmunoz commented on #1386
In my opinion the following example shows the observed behaviour has to do with the "eagerness" of the tasks when the Stream is always returning `Async::Ready(Some(data))` (https://github.com/tokio-rs/tokio/issues/1386#issuecomment-517932369)

**test.sh** (the script I'm using from the beginning):
[code]

**src/main.rs**

I wrapped both of the stdout/stderr Streams into Futures (CmdStream):
- When

[2019-08-03 18:18] qm3ster commented on #1386
What happens if you `tokio::spawn()` `stdout_fut` and `stderr_fut` instead of joining them?

[2019-08-03 18:33] sfmunoz commented on #1386
Using `tokio::spawn()` instead of joining the futures leads to the same result:

**test.sh** (same code):
[code]

**src/main.rs** (derived from **Test 3** on my first post):
[code]

**cargo run** (same unexpected behaviour):
[code]

[2019-08-03 18:55] tmiasko commented on #1386
In general it impossible to accurately recover the relative order of write
operation performed on two different pipes. Your process would have to catch up
after each write, which is highly unlikely without some artificial delays.

Not to mention that most Future combinators don't even attempt to preserve
relative order of wake-ups (they tend to use a single waker and fixed order of
polling).

If y

[2019-08-03 19:11] sfmunoz commented on #1386
First of all thank you for your input.

The problem is I do care about the distinction between stdout and stderr, that's why I'm fighting hard to figure out how to do it.

Yes, I checked some of the combinators (e.g. select()) and they do a simple round robin to decide what stream to poll() next.

I thought about creating a future wrapping both streams (like select()) but the problem is I can't kn

[2019-08-03 21:21] russelltg commented on #1363
I was using it to get a `Stream + Sink` udp object. I had manually implemented stream/sink implementations on top of that implementing a network protocol. It very well could be that there's a better way to do it now with async/await, as it's quite new to me.

[2019-08-04 07:16] tmiasko commented on #1386
The implementation with two separate tasks works like that. You can also take a
look at the implementation of FuturesUnorder for an example how to keep track
of wake-up source.

You should use release mode. Some of those implementations work _reasonably_ well,
since in general preserving both the order and the provenance is impossible.

[2019-08-04 08:04] sfmunoz commented on #1386
look at the implementation of FuturesUnorder for an example how to keep track
of wake-up source.

Cool: I wasn't aware of the **with_notify()** option:

https://docs.rs/futures/0.1.28/src/futures/stream/futures_unordered.rs.html
[code]

Ref: https://docs.rs/futures/0.1.28/futures/executor/fn.with_notify.html

[2019-08-04 09:58] sfmunoz commented on #1386
Multithreaded non-tokio approach (in order to contrast with the previous tokio-based tests):

**src/main.rs**
[code]

**cargo run**
[code]

Output tends to be ordered as expected but it's not at the beginning...

[2019-08-04 11:52] tmiasko commented on #1386
Finished dev [unoptimized + debuginfo] target(s) in 0.05s

Use `cargo run --release`.

Create pipe manually, and start reading before actually spawning the process.

[2019-08-04 12:14] taiki-e commented on #1192
Done in #1269

[2019-08-04 12:14] #1192 closed

[2019-08-04 12:21] taiki-e commented on #1196
Done in #1227

[2019-08-04 12:21] #1196 closed

[2019-08-04 15:04] sfmunoz commented on #1386
The following approach is quite close to work exactly the way I wanted it to work:
- It's based on direct **mio** usage
- It uses `std::process::Command` (no **tokio** based but it could be integrated easily)
- It uses one extra thread
- Behaviour is quite good most of the times... and surely more than enough for most of the use cases since here I'm pushing the limits creating stdout/stderr output

[2019-08-04 15:09] sfmunoz commented on #1386
I'm closing now since there's nothing wrong with **tokio-process**: it's just the way **tokio** works.

In my opinion the **mio** based solution is good enough to solve the problem to get stdout/stderr ordered most of the use cases.

@tmiasko thank you very much for your feedback: it's been very useful

[2019-08-04 15:09] #1386 closed

[2019-08-04 15:34] DevQps opened #1388 "When spawning many tasks, some tasks never run."
## Version
tokio = "0.1.22"

## Platform
Windows 10

## Description
Before I fill in the complete form, I'll first give a small description (hope that's fine).

I am trying to scrape the Google Certificate Transparency Logs using Tokio, hyper, h2 and the new async-await syntax. The problem arises when I spawn many requests over a single HTTP2 connection. This occurs around 25 tasks looping the fol

[2019-08-05 01:05] Aaron1011 commented on #1388
@DevQps: Are you able to post your current project?

[2019-08-05 01:26] jimmycuadra commented on #1256
Can someone clarify which types are intended to implement `AsyncBufRead`? I was just trying to figure out loop over the lines of stdin and discovered `tokio::io::Stdin` doesn't implement this trait, which led me to this issue. Sounds like this is intended but just hasn't been done yet?

[2019-08-05 06:03] DevQps commented on #1388
Hey Aaron,

I am sorry for not doing so before. I created a more or less minimum viable project to reproduce the bug. It's around 200 lines, but most are about setting up the connection and spawning tasks, so I think it should not be too hard to understand. It contains many comments as well (hope that helps!)

Here it is:
[code]

Cargo.toml
[code]

Output:
[code]

As you can see here: It reached t

[2019-08-05 06:21] zimond opened #1389 "Drop Sync bound on runtime builder's after_start and before_stop"
Current runtime builder's `after_start` and `before_stop` has a `Sync` bound. As the callbacks are specified for each thread, it's hard to inject thread-local variables ( `Rc` for example) in these hooks when `Sync` are needed. It seems there's no need to use those bounds.

[2019-08-05 17:02] carllerche commented on #1371
I would recommend avoiding the `std::Command` / `CommandExt` strategy and instead provide `tokio_process::Command(std::Command)` and not expose any blocking fns.

[2019-08-05 17:18] carllerche opened #1391 "Prune dependencies"
All dependencies should be audited and any that do not carry their weight should be pruned.

Relates to #1264, #1318 (goal: reduce the dependency weight of Tokio).

[2019-08-05 17:36] sfmunoz commented on #1386
Maybe someone can find this approach useful... I'm posting the following code just in case.

This is an example using **mio** and **os_pipe**:
- Reading thread starts before the command (@tmiasko hint)
- **os_pipe** is used create and use the pipes before spawning the command
- **libc** usage is not required

**Cargo.toml**
[code]

**src/main.rs**
[code]

**cargo run**
[code]

[2019-08-05 19:21] dekellum commented on #1177
Any way I could help to implement the «global "default" blocking set», @carllerche?

[2019-08-05 21:22] carllerche commented on #1177
@dekellum tracking issue is #588. I don't have a specific proposal in mind yet. If you want to think about it some and make a proposal, that would be :+1: I will try to leave my thoughts on #588.

[2019-08-07 02:25] ipetkov commented on #1371
@carllerche makes sense to me! It will also give us a smaller API surface we can evolve as needed (in retrospect trying to make the async command fit all of the `std::process::Command` APIs/behaviors was a bit restricting).

[2019-08-07 08:48] marmistrz commented on #1243
As of tokio-signal 0.2.8 ctrl-c handling under Windows doesn't work in MSYS2 bash, or in cmd if MSYS2 bash is its parent shell. Is this a known limitation or a bug?

To reproduce, use https://github.com/marmistrz/tokio-ctrlc-error, run the example and press ctrl+c before it times out.

[2019-08-07 19:43] carllerche commented on #1256
@jimmycuadra any type that *can* implement it should.

[2019-08-07 22:33] carllerche commented on #1243
@marmistrz Could you open a dedicated issue for that?

[2019-08-08 10:25] marmistrz opened #1408 "ctrl-c handling under Windows doesn't work in MSYS2 bash"
## Version

[code]
## Platform

64-bit Windows 10
## Subcrates

tokio-signal

## Description

As of tokio-signal 0.2.7 ctrl-c handling under Windows doesn't work in MSYS2 bash, or in cmd if MSYS2 bash is its parent shell. Is this a known limitation or a bug?

To reproduce, use https://github.com/marmistrz/tokio-ctrlc-error, run the example and press ctrl+c before it times out.

[2019-08-08 16:30] DevQps commented on #1388
@Aaron1011 Hey Aaron! Were you able to take a look at it? Just wondering if you missed my previous message maybe because I didn't tag you!

[2019-08-08 19:42] Nashenas88 opened #1412 "Unable to run reqwest future with tokio::main"
## Version

tokio v0.2.0 (https://github.com/tokio-rs/tokio#2e69f2a7)
(tokio v0.1.22 (*) also shows as a dep for reqwest and hyper)

## Platform

Darwin &lt;Removed for privacy&gt;.local 17.7.0 Darwin Kernel Version 17.7.0: Wed Apr 24 21:17:24 PDT 2019; root:xnu-4570.71.45~1/RELEASE_X86_64 x86_64

## Description

I'm trying to update a project to async/await syntax since it's going to stabilize so

[2019-08-08 20:03] Nashenas88 commented on #1412
So I was able to fix this by updating the dep in `Cargo.toml` to:
[code]
So that it will match what's required by `reqwest`.

And I had to change my main fn to:
[code]

[2019-08-08 20:03] #1412 closed

[2019-08-08 20:23] dekellum commented on #588
Some observations on `dispatch_blocking` (for the current thread runtime):

There needs to be some way to retrieve a return value for the blocking operation closure when it completes.  For example in tokio-fs, the `async fn`'s need to return things like the number of bytes actually written or read, etc.  The current task should also be woken up on that completion, so it seems to me that `dispatch_

[2019-08-08 20:41] jethrogb opened #1413 "Should be able to poll on a &TcpListener"
## Version

0.1.x

## Subcrates

tokio-tcp

## Description

Accepting a connection in `std` doesn't require mutable access to the `TcpListener`, so polling for the same should also not require it. However, there is currently no way to poll a `&TcpListener`.

`TcpStream` does support this through `impl AsyncRead|AsyncWrite for &'_ TcpStream` (although this was recently [removed in master](https://g

[2019-08-08 20:46] jethrogb opened #1414 "IntoRawFd implementations missing"
## Version

0.1.x

## Subcrates

tokio-tcp

## Description

`TcpStream` and `TcpListener` implement `AsRawFd` but not `IntoRawFd`. `IntoRawFd` is needed to drop the `TcpStream` or `TcpListener` without closing the connection.

(There's also no `FromRawFd` but these can be emulated using the `from_std` functions)

[2019-08-09 03:04] tbraun96 opened #1415 "BREAKING bug w/ IntelliJ IDE + Tokio"
This is freezing the entire IDE, and it's because I have tokio in one of my crates apparently? I'm not even using it in the crate I'm developing...
[code]

[2019-08-09 03:04] tbraun96 commented on #1415
Using nightly 1.3.8

[2019-08-09 03:15] tbraun96 commented on #1415
I guess this is a problem with crossterm_utils

[2019-08-09 03:23] carllerche commented on #1415
Thanks for the report.

I'm not sure what is going on here, but Tokio compiles using the specified nightly. Any overflow during compilation or in an IDE would be a bug in the tooling.

[2019-08-09 03:23] #1415 closed

[2019-08-09 03:39] carllerche commented on #1413
Can you describe why you want this? In general, `TcpStream` supports `Sync` but `TcpStream` does not support concurrent polling of `poll_read`. This is why `&mut self` is used.

[2019-08-09 03:46] carllerche commented on #588
@dekellum The `dispatch_blocking` fn needs to be trait object compatible, so it cannot have a generic `T`. My thought is that the `FnOnce` passed in would contain a `oneshot ` to return the value.

re: the semaphore, my thought is just that limiting concurrency would be left to a higher level API and not be a concern of `dispatch_blocking`.

[2019-08-09 03:51] eminence commented on #1356
The `tokio::io::Stdin` type is impacted by this as well:

[code]

[2019-08-09 03:59] jethrogb commented on #1413
Why wouldn't it support concurrent polling? As mentioned it used to.

[2019-08-09 04:01] jethrogb commented on #1413
As mentioned this is supported through `impl AsyncRead|AsyncWrite for &'_ TcpStream`

[2019-08-09 04:11] carllerche commented on #1413
@jethrogb one task can call `poll_ready` concurrently to another calling `poll_write`, but two tasks cannot concurrently call `poll_read`. This is due to only one one task being notified.

Could you describe the use case? There could be a better way to model what you are trying to do.

[2019-08-09 04:51] quininer commented on #1108
This cannot be implement in `tokio-rustls` because we have to lock `ClientSession` to share state.

We might have a full-duplex rustls implementation? @ctz

[2019-08-09 06:51] djc commented on #1268
@carllerche any thoughts on which direction you want to go in?

[2019-08-09 07:48] taiki-e commented on #1086
Refs: https://github.com/rust-lang-nursery/futures-rs/pull/1672

[2019-08-09 12:07] jedisct1 opened #1417 "tokio 0.2.0: io-compat not available for UnixStream and TCPStream"
## 0.2.0

│   │   │   └── tokio-io v0.1.12
│   │   └── tokio-io v0.1.12 (*)
│   │   └── tokio-buf v0.1.1
│   ├── tokio v0.1.22
│   │   ├── tokio-current-thread v0.1.6
│   │   │   └── tokio-executor v0.1.8
│   │   ├── tokio-executor v0.1.8 (*)
│   │   ├── tokio-io v0.1.12 (*)
│   │   ├── tokio-reactor v0.1.9
│   │   │   ├── tokio-executor v0.1.8 (*)
│   │   │   ├── tokio-io v0.1.12 (*)
│   │   │

[2019-08-09 14:18] vojtechkral commented on #1108
@quininer afaik this is fixed in tokio in master, so you shouldn't use custom hacks and just wait for the next relesae I think? :)

[2019-08-09 14:35] LucioFranco commented on #1417
@jedisct1 so I believe the compat layer provided by futures-util-preview compats it with futures-io not tokio-io which are different traits. You can use https://github.com/nemo157/futures-tokio-compat/ to compat between the futures-io and tokio-io crates.

[2019-08-09 14:51] jedisct1 commented on #1417
Thank you @LucioFranco !

I'm going to try that one, then.

Thank again for your help!

[2019-08-09 14:51] #1417 closed

[2019-08-09 15:04] #1341 closed

[2019-08-09 15:53] ipetkov commented on #1408
Hey @marmistrz thanks for the report! I'm not a Windows user myself, so pardon any ignorance I may have...

By default `tokio-signal` will hook into the `SetConsoleCtrlHandler` Windows API for receiving quit events from the default console. I'm not sure about this, but if I had to guess, I would think that bash under msys tries to send a POSIX quit signal (and the runtime may be trying to make tha

[2019-08-09 15:56] ipetkov commented on #1408
Also worth mentioning that we'd appreciate any additional repros/investigation be done against the latest alphas (in this case `tokio-signal = 0.3.0-alpha.N` and the rest of the tokio crates using `0.2.0-alpha.N`) since that's where all the new work is being done!

[2019-08-09 16:16] marmistrz commented on #1408
Pardon my ignorance too: I barely use Windows for anything else than to test if my code is portable :D
I'll check tokio-signal 0.3, since I plan to migrate to 0.3 in the future anyway.

[2019-08-09 17:44] carllerche commented on #1108
Non-locking splits should be possible even w/ tokio-rustls using the `split_mut` strategy TcpStream uses now.

[2019-08-09 18:05] quininer commented on #1108
Yes, but we still have to use a lock for the `ClientSession`/`ServerSession` of `rustls`. maybe I should open a issue in `rustls`.

[2019-08-09 18:35] bluetech commented on #1251
Currently (v0.2.0-alpha1), everything in the `tokio-buf` crate is commented out except for the `BufStream` trait itself. Is this a TODO for the 0.1 -> 0.2 transition, or something else?

[2019-08-09 18:42] carllerche commented on #1251
@bluetech yeah, we forgot to finish it :( it will be part of the next alpha.

[2019-08-09 19:33] naftulikay opened #1422 "tokio-signal: Support SIGCHLD"
## Version

`master`

## Platform

[code]

## Subcrates

`tokio-signal`

## Description

I'm writing a process manager with Tokio, and I'd like to be able to use `tokio-signal` to respond to process signals. It's important that I be able to catch `SIGCHLD` to keep track of when processes die so that I can take an action based on this.

I'm not sure if this is a Linux-specific signal or whether it

[2019-08-09 19:54] carllerche commented on #1108
@quininer why do you need a lock?

[2019-08-09 20:23] carllerche commented on #1369
We will have to pump ours.

[2019-08-09 20:42] carllerche commented on #1203
@mokomull added a line item to #1256.

[2019-08-09 20:45] carllerche commented on #1389
A single callback is passed to the threadpool builder and called concurrently from each worker thread. This is the source of the `Sync` requirement.

[2019-08-09 20:45] #1389 closed

[2019-08-09 22:03] dbcfd commented on #1262
Working on tls-async, I made a number of changes to split up the code, and not expose native-tls.

https://github.com/dbcfd/tls-async

Is there any interest in bringing those changes back in to tokio-tls? Also is there interest in switching from native-tls to rustls. If so, I can do PR's.

[2019-08-09 22:08] dbcfd commented on #1388
+1 on this. I'm seeing similar behavior where some tasks just stop getting run, especially in cases where you have more tasks than cores.

My next step is to be adjust the runtime by setting a higher number of core threads to see if it alleviates the problem.

[2019-08-09 22:49] asonix commented on #1371
Can I jump in and comment on tokio-process usage? It's a little awkward right now for handing an ending process.

Right now, you can `kill` a child, _or_ wait on the child to finish on it's own. You can't interact with a process that may end on it's own but can also be killed. This is because you need the `Child` to kill it, but you need to `await` the `Child` to see when it finishes.

If there wa

[2019-08-09 22:53] LucioFranco opened #1423 "Update to futures `0.3.0-alpha.18`"
Now that https://github.com/rust-lang-nursery/futures-rs/pull/1789 has been merged we can update tokio to this new version of futures.

[2019-08-09 22:54] Selicre commented on #1414
IIRC, I asked about this before and the issue was `mio` managing its own buffers. Does that mean that this is planned to be changed, and does this mean that you would be able to pass the socket to other applications?

[2019-08-09 23:26] carllerche commented on #1414
My assumption is IntoRawFd is Unix only so that is fine.

[2019-08-09 23:32] jethrogb commented on #1414
I guess on Windows one would want to do the same with `IntoRawHandle`

[2019-08-10 01:35] ipetkov commented on #1319
All tasks being tracked here have been completed

[2019-08-10 01:35] #1319 closed

[2019-08-10 01:40] ipetkov commented on #1422
Hi @naftulikay, it's definitely possible to do so today, in fact, that's exactly what `tokio-process` [does under the hood](https://github.com/tokio-rs/tokio/blob/756606a58be2ad29c33752873d2c5c3c2f7a1d71/tokio-process/src/unix/mod.rs#L102)! Granted, it's not very obvious today that it is supported since it requires creating the Unix specific `Signal` type and passing in `libc::SIGCHLD`.

We're pla

[2019-08-10 01:40] #1422 closed

[2019-08-10 03:37] quininer commented on #1108
I want `TlsStream` of `tokio-rustls` to implement parallel reads and writes just like `TcpStream`. but `TlsStream` read and write requires [a mutable `Session` state](https://docs.rs/rustls/0.15.2/rustls/trait.Session.html#tymethod.read_tls), which makes it impossible.

Ideally, the `Session` is split into a pair of `ReadSession` and `WriteSession` to achieve full duplex. but this needs to be impl

[2019-08-10 04:02] sopium commented on #1108
The generic `AsyncRead::split` already takes care of the locking. It is not a problem if you cannot implement a more optimized split like `TcpStream`.

[2019-08-10 04:05] quininer commented on #1108
Yes, I want to implement this optimization for `TlsStream`. I want `TlsStream` is full duplex.

[2019-08-10 04:43] carllerche commented on #1108
It is possible to implement a zero cost `split_mut` that takes `&mut self` and provides a read and write handle. I plan on adding it soonish.

[2019-08-10 10:23] sopium commented on #1108
How would that work for TLS streams here? The two handles can have two `&` references, but not two `&mut` references.

[2019-08-10 10:32] sopium commented on #1108
There might be a bit of misunderstanding here. The generic `split` does give you two handles that are full-duplex. The lock is taken only during polling. A blocked read operation will not block an write operation, and vice versa.

[2019-08-10 11:04] quininer commented on #1108
I don't think this is true, otherwise you can write and read a `Vec` at the same time.

I didn't find generic split implementation in `tokio`, but in the implementation of `futures-rs`, it does [lock the entire read operation](https://github.com/rust-lang-nursery/futures-rs/blob/master/futures-util/src/io/split.rs#L36) with `BiLock`.

[2019-08-10 12:14] DoumanAsh commented on #1108
I think right now in tokio there is only split for concrete IO types (like TcpStream), no generic split lock

[2019-08-10 16:14] Darksonn commented on #1388
It could be google disliking many requests at once.

[2019-08-10 17:10] DevQps commented on #1388
I don't think that is it though because only the first requests get stalled, the ones after that are running great. But thanks for the suggestion though!

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Alice Ryhl <notifications@github.com>
Sent: Saturday, August 10, 2019 5:14:43 PM
To: tokio-rs/tokio <tokio@noreply.github.com>
Cc: Christian Veenman <chris_ve

[2019-08-10 18:01] taiki-e commented on #1423
Blocked on https://github.com/carllerche/loom/pull/35 (I received "failed to select a version" error when trying to do this.)

[2019-08-10 18:09] carllerche commented on #1423
We probably want to do #1264 before pushing out another release, otherwise things are going to be pretty painful.

[2019-08-10 18:10] LucioFranco commented on #1423
Agreed we should combine

[2019-08-10 21:09] #1423 closed

[2019-08-10 22:49] dekellum commented on #588
I have a proof of concept implementation focused on the api/safety/ergonomics, so far out of tree, here:

https://github.com/dekellum/blocking-permit/blob/master/src/lib.rs

Please take a look. To summarize briefly, this culminates not unsurprisingly in a `permit_or_dispatch!` macro:

[code]

Helper macro for use in the context of an `async` block or function, repeating the same code block in thre

[2019-08-11 00:51] sopium commented on #1108
A "blocked" `poll_read` would return `Pending`, and the lock is then released, and the other task can take the lock and `poll_write`. Suppose that a read task(R) calls `read(...).await`, and a write task(W) calls `write(...).await`:

[code]

[2019-08-11 01:56] quininer commented on #1108
I think this is half duplex.

[2019-08-13 22:28] dekellum commented on #588
I made several improvements on my PoC [master branch] and added a second branch to experiment with an object-safe, non-generic `dispatch_blocking` combined with a [`dispatch_rx!` macro].  While I intuitively prefer the generic version and less complex macros, `dispatch_rx!` does preserve composability and didn't cause much problem in my simple testing thus far. So if on the Executor trait, access

[2019-08-14 03:51] carllerche opened #1436 "libc regression on FreeBSD"
FreeBSD CI is failing due to the recent release of libc 0.2.61 (#1466) and has been removed as a PR requirement. Once the regression is fixed, it should be enabled again.

[2019-08-14 04:01] #1000 closed

[2019-08-14 04:10] #1328 closed

[2019-08-14 05:02] ipetkov commented on #1243
Thanks for the feedback on #1430 @carllerche, moving the conversation here.

I started out with `SignalType` but settled on `SignalKind` (which isn't really that much better either...). Happy to change to another name if anyone else has suggestions (maybe `SigNum`? `tokio_signal::Kind`?)

My initial thought was to keep things similar to the signal names themselves (where one would have used `libc:

[2019-08-14 10:09] ohmyarch opened #1437 "Add futures::io::BufReader Equivalent"
## Version
0.2.0-alpha.1

## Platform
Linux

## Subcrates
tokio-io

## Description
https://rust-lang-nursery.github.io/futures-api-docs/0.3.0-alpha.18/futures/io/struct.BufReader.html

[2019-08-14 15:28] ntkoopman commented on #1388
I have a similar/the same issue, but I can only reproduce it using PollEvented and the current_thread executor:

[code]
[code]
[code]

Any future spawned before the first await on the PollEvented works fine, but afterwards it doesn't.

[2019-08-14 16:33] carllerche commented on #1388
What does CPU usage look like?

[2019-08-14 17:24] #1437 closed

[2019-08-14 18:18] #1363 closed

[2019-08-14 19:15] LucioFranco opened #1443 "udp: `UdpFramed` violates Decode impl contract"
Note: This is an issue that is in 0.1.x and in 0.2.x. Any fix should be backported.

`UdpFramed` violates the decode contract by not attempting to continue decoding past the first discrete item if there is more data in the buffer.

Correct Framed implementation https://github.com/tokio-rs/tokio/blob/v0.1.x/tokio-io/src/framed_read.rs#L199

and incorrect https://github.com/tokio-rs/tokio/blob/v0.1.

[2019-08-14 19:31] JohnDoneth commented on #1443
I am aiming to take a stab at this issue. If I'm understanding correctly, reading a `UdpPacket` with multiple lines would prove that `UdpFramed` no longer violates the Decode contract. Should that be added as a test then?

[2019-08-14 19:39] LucioFranco commented on #1443
@JohnDoneth yup! I would actually really really like if you could try to implement this on top of the `v0.1.x` branch so that we can get it released as part of a `0.1` release. Then we can back port it to master.

[2019-08-15 05:28] carllerche commented on #1243
It looks like `std` avoids shortened names (for example, `io::ErrorKind` uses `InvalidInput` instead of `EINVAL`. I would follow that pattern.

`SignalKind` is the best option so far IMO. I would just stick w/ it.

[2019-08-15 15:21] ntkoopman commented on #1388
Usage is zero, checking strace shows it's actually blocking on a read
[code]

I just tried tokio 0.1 without async and get the same result there.

[2019-08-15 15:42] dbcfd commented on #1388
Even with an enlarged thread pool and no timeout on threads, still occurs for me, and with low cpu as well.

Would love to be able to debug this better, but threadpool::worker logging is trace only and a little spammy for figuring out what is going on. Luckily I can debug on the box, but perf wasn't informative, will try attaching gdb next.

[2019-08-15 17:17] LucioFranco commented on #1348
@dekellum I'm a bit against updating msrv to 1.31 for now since 0.1 is kinda in a LTS role. I think the best route here would be to apply the dyn keyword changes (msrv 1.27) and #1369 which should bump us to msrv of 1.28 which I think is acceptable for now. What do you think?

[2019-08-15 18:21] dekellum commented on #1348
I'm fine with that—making incremental progress and at least restoring CI and local tree building of v0.1.x.  None of that requires a release at this time, as far as I can tell.   Note that #1368 could also be applied in a similar vane, and its now effectively also a backport.  I'll start a new staging/CI PR with the former, possibly including #1368 last.   If that is accepted, then I'll just updat

[2019-08-15 18:25] LucioFranco commented on #1348
@dekellum Perfect, let's do 1.28 for now. And I'd like to think a bit more about 1.31. I appreciate all the help!

[2019-08-15 22:33] dekellum commented on #1369
The CI part is now fixed by #1451.  Closing this, but feel free to reopen if there is anything more to do with it?

[2019-08-15 22:33] #1369 closed

[2019-08-16 04:28] carllerche opened #1458 "udp, uds: consider defining a datagram trait"
Both UDP and UDS have a framed implementation. These two implementations are similar, which makes it seem like there should be a trait implemented by both sockets and the framing code could be moved into tokio-codec.

cc @Ralith

[2019-08-16 07:53] DoumanAsh commented on #1168
Just to clarify: it does intend to mean from reactor, rather than runtime?

[2019-08-16 15:34] carllerche commented on #1168
This means from any context that has `tokio_net::driver::set_default` called.

[2019-08-16 18:36] DoumanAsh commented on #1436
It is fixed btw

[2019-08-16 18:37] carllerche commented on #1436
thanks 👍

[2019-08-16 18:37] #1436 closed

[2019-08-17 23:27] ipetkov commented on #1243
I am proposing that we only export `CtrlC`/its equivalent via `tokio::signal` for now because it is the only API which is truly cross platform. The remainder of the APIs can be consumed directly through the new `tokio-net` crate via `tokio-net::signal`.

Thoughts from @carllerche or anyone else?

[2019-08-18 03:52] naftulikay commented on #1243
As a user I'd like to be able to catch and respond to a number of different signal types. I know that most of all of them are Unix specific, but I have an interest in being able to use this for general purpose signal catching.

[2019-08-18 05:50] szagi3891 opened #1466 "Starting the timer causes panic."
## Version
nightly-x86_64-unknown-linux-gnu (default)
rustc 1.39.0-nightly (bdfd698f3 2019-08-16)

[code]

## Platform
Linux oem-Inspiron-5767 4.8.0-58-generic #63~16.04.1-Ubuntu SMP Mon Jun 26 18:08:51 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux

## Subcrates
tokio-timer

## Description
I wanted to run timers from two different libraries. While performing the timer from Tokyo there was a panic

[code

[2019-08-18 05:55] carllerche commented on #1466
Thanks for the report.

Using timer APIs requires a timer to be running. Using the tokio runtime handles this detail for you. If you wish to use timer APIs outside of the tokio runtime, I would refer you to the documentation where it describes how to start a timer manually.

[2019-08-18 05:55] #1466 closed

[2019-08-18 06:02] szagi3891 commented on #1466
Probably there are also some problems with building documentation for this version:

https://docs.rs/crate/tokio-timer/0.3.0-alpha.1/builds/177453

[code]

[2019-08-18 06:14] szagi3891 commented on #1466
@carllerche

Could you give me the link to this documentation? I can't find it

[2019-08-18 07:54] carllerche commented on #1466
https://docs.rs/tokio-timer/0.3.0-alpha.2/tokio_timer/timer/index.html

- Create a `Timer`
- Pass handle to `set_default`
- Use timer APIs.

[2019-08-18 07:55] carllerche opened #1467 "chore: fix docs.rs documentation with feature flags"
`Cargo.toml` needs additional metadata to generate docs correctly.

See: https://docs.rs/about

[2019-08-18 15:44] ipetkov opened #1469 "chore: publish deprecation warnings for collapsed crates"
For each of the original crates which have been collapsed together in #1264, we should publish a new bugfix version which has all APIs marked as deprecated, and with a warning message stating the new crate that should be used.

That way if anyone is still using the old crate things won't silently break (or stop getting updates).

[2019-08-18 15:50] ipetkov commented on #1243
@naftulikay signals are very much a Unix-specific concept. What do you mean by general purpose signal catching?

You can still register interest for any arbitrary Unix signal by using the platform specific APIs defined in the `tokio-net` crate. For now the consideration is to only reexport the truly cross platform APIs within the `tokio` crate for ease of use

[2019-08-18 16:02] carllerche commented on #1469
great idea 👍

[2019-08-18 16:57] naftulikay commented on #1243
I'm writing a process supervisor which needs to listen for term, quit, and chld signals. Being able to do that with Tokio is great for me as a user, as I get all the benefits of Tokio.

Why are process signals in tokio::net?

[2019-08-18 17:03] ipetkov commented on #1243
We decided to consolidate various crates together to make maintaining and releasing crates more streamlined (see #1264 for more info). `tokio-net` happens to include all the reactor and other internals needed for receiving and reacting to signals

[2019-08-18 17:09] naftulikay commented on #1243
My apologies: I'm looking through the 0.1 and 0.2 docs and not seeing anything in tokio::net. I'm mainly interested in understanding how the new API will work.

[2019-08-18 17:12] ipetkov commented on #1243
The internals will be the same, they're just migrating to where they're defined!
Unfortunately the alpha docs aren't being published on docs.rs, there's a tracking issue for fixing that in #1467

[2019-08-18 17:19] carllerche commented on #1243
@ipetkov  re: your proposal, that sounds good. My gut feeling is `tokio::signal::ctrl_c() -> CtrlC` feels more natural than `tokio::signal::CtrlC::new()`.

[2019-08-18 17:50] ipetkov commented on #1243
@carllerche yep that makes sense, I'll take a pass on updating the APIs to remove types where possible, and switch to using a dedicated constructor function rather than `::new()`

[2019-08-18 18:11] #1467 closed

[2019-08-18 19:22] szagi3891 commented on #1466
@carllerche
Thank you. And are there any plans to make the executor more abstract? It would be nice to be able to call these two timers from different ecosystems on one executor.

[2019-08-18 21:03] ipetkov opened #1473 "chore: audit all doc links"
Many of the doc links currently point to arbitrary URLs or don't actually link anywhere.

We should instead rely on rustdoc's resolution feature to link to the appropriate item, and block the CI on any errors/warnings there.

[2019-08-18 21:37] carllerche commented on #1473
@ipetkov that would be great. Historically, that option wasn't mature enough, but maybe that works now :+1:

[2019-08-18 21:39] carllerche commented on #1466
@szagi3891 what do you mean by this? You can call the timer from any ecosystem by following the steps above. What else do you have in mind?

[2019-08-19 13:05] alex opened #1477 "Missing release for tokio-process?"
It looks like all the packages received alpha.2 releases yesterday, however tokio-process does not seem to have. Was this an accidental oversight?

[2019-08-19 15:04] carllerche commented on #1477
The plan was to move `tokio-process` into `tokio-net`, that didn't happen for the release... we will release alphas often. Are you blocked by this?

[2019-08-19 15:06] alex commented on #1477
I'm blocked from upgrading to alpha.2, nothing more :-)

[2019-08-19 15:07] carllerche commented on #1477
I can release tokio-process alpha-2, probably the easiest way to unblock. Next cycle it will be gone in favor of `tokio-net`.

[2019-08-19 15:08] alex commented on #1477
Sounds great. Thanks!

[2019-08-19 15:13] carllerche commented on #1477
I force pushed out a release... hopefully it isn't a dud.

[2019-08-19 15:13] #1477 closed

[2019-08-19 17:19] bIgBV opened #1478 "Search results on docs.rs show futures under the tokio::io module"
## Version
0.2.0-alpha.2

## Platform

Darwin 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64 x86_64
## Subcrates

tokio::io

## Description
When searching for `io` helpers on docs.rs, the methods from `AsyncReadExt` do not show up, instead unreachable links such as `tokio::io::_:Copy` show up.

<img width="1326" alt="image" src="https://use

[2019-08-19 19:23] dekellum commented on #1348
Items (1 2) have been merged as part of #1451. Remaining items (3 4 5 7) are revised and available in #1358, which is now the better successor. Closing.

[2019-08-19 19:23] #1348 closed

[2019-08-20 13:20] Eliah-Lakhin opened #1479 "Implement Future blocking adapters for blocking code"
## Motivation

Implementing intercommunication between the blocking and non-blocking code is still hard to achieve in Tokio `0.2` when we need to run continuous (potentially) blocking process.

An example of such process could be, in example, communicating with hardware drivers(i.e. OpenGL interface) that blocks OS thread in some particular cases for short time, but requires to be run continuously

[2019-08-20 13:24] sfackler commented on #1479
You just need to call https://docs.rs/futures-preview/0.3.0-alpha.18/futures/executor/fn.block_on.html.

[2019-08-20 13:34] Eliah-Lakhin commented on #1479
@sfackler Well, it is achievable this way too, but still looks too verbose, isn't it?

Also, what are the functional differences between `futures::executor` from the Futures `0.3` and Tokio `current_thread`?

[2019-08-20 13:39] sfackler commented on #1479
The `current_thread` executor has the ability to run multiple spawned futures, while `executor::block_on` internally uses a very minimal executor that's just able to wait on a future to complete.

[2019-08-20 18:08] szagi3891 commented on #1466
@carllerche

I mean, this global variable with timer does not help when we want to use libraries from many ecosystems.

Maybe it'll be better:

[code]
Then it will be easier to compose feathers from different ecosystems.

[2019-08-20 22:33] dbcfd opened #1482 "Port AsyncRead/AsyncWrite Compat to Read/Write"
## Version

0.2.0-alpha.X

## Subcrates

io

## Description

Currently tokio io provides its own AsyncRead and AsyncWrite traits. When dealing with blocking code, [futures](https://github.com/rust-lang-nursery/futures-rs/blob/master/futures-util/src/compat/compat03as01.rs#L255) provides a compatibility layer to turn the AsyncRead/AsyncWrite into Read/Write.

This relates to #1297 and #1479 while b

[2019-08-20 22:36] dbcfd commented on #1482
If a port of this functionality is desired, would be glad to do a PR for it.

[2019-08-20 22:45] reiver-dev commented on #1371
Unfortunately, because async Command does not share anything with std::process::Command anymore, unix-specific capabilities (uid, gid, pre_exec, exec) are now unavailable.

Also it would be good to have a (unsafe?) way to receive completion notifications from Handle/Pid created by other means (i.e. direct use of fork, external libs).

[2019-08-20 22:59] carllerche commented on #1371
@reiver-dev we can add unix specific extensions as well.

[2019-08-20 23:25] nwtnni opened #1483 "Infinite loop in tokio_codec::LinesCodec"
## Version

v0.2.0-alpha.2

## Subcrates

tokio-codec

## Description

`LinesCodec::decode` will enter an infinite loop given the following inputs in sequence:

1. A line longer than the codec's maximum length, without a terminating newline.
2. Any subsequent input without a terminating newline.

Below is a minimal failing test case:

[code]

The relevant code is [here][0] and [here][1]. The first

[2019-08-21 01:55] redtankd commented on #1458
Since we have `tokio::codec::Framed`，why need a different UdpFramed?

[2019-08-21 15:59] colepoirier commented on #1388
I'm having the same issue. I was trying to do a tokio 'hello world' exercise to get started in the tokio/async world.

`#![feature(async_await)]

extern crate tokio;

#[tokio::main(multi_thread)]
async fn main() {
    for x in 0..10 {
        tokio::spawn(async move {
            println!("Hello {}", x);
        });
    }
}
`
Output:
`Finished release [optimized] target(s) in 23.76s
     Running `

[2019-08-21 16:20] dbcfd commented on #1388
@colepoirier Your issue is likely due to an early exit. You'll need someway to indicate your main is done, possibly using a channel to send a result when your async function completes, and your main receives all the completes.

[2019-08-21 21:35] dbcfd opened #1490 "Signal not usable from main tokio crate"
## Version
0.2.0-alpha.2

## Description
Signal is a feature of tokio-net, but not exposed as a feature in main tokio crate

https://github.com/tokio-rs/tokio/blob/master/tokio/Cargo.toml#L40

[2019-08-22 00:14] jhpratt commented on #1180
Any intent to implement on this? I'm specifically interested in the ability to get a handle to a `Future` that is also spawned on the executor. It would be useful for SergioBenitez/Rocket#1097, where we're looking into returning a `Future` that outputs the same value as the spawned one.

I can look into doing this (or even just a `spawn_with_handle` method like [`futures-preview`](https://docs.rs/

[2019-08-22 02:29] carllerche commented on #1180
Yes! This will be in the final 100%. For now spawn with handle works!

[2019-08-23 16:25] colepoirier commented on #1388
Thanks for your help @dbcfd! Unfortunately, with the modification of the channel sending a result, its somewhat better but still not consistent. Am I not using the channel correctly?

With the code:
<code>
#![feature(async_await)]

extern crate crossbeam_channel;
extern crate tokio;

#[tokio::main(multi_thread)]
async fn main() {
    let (s, r) = crossbeam_channel::bounded::<Result<(), ()>>(10);

[2019-08-23 17:02] dbcfd commented on #1490
Closed by #1491

[2019-08-23 17:02] #1490 closed

[2019-08-23 17:03] dbcfd commented on #1388
Possibly it's error'ing on the send, but going to grab your code and try it as well.

Still seeing my issue after upgrading to tokio 0.2, but this gives me a lot better test to debug.

[2019-08-23 17:05] dbcfd commented on #1388
Oh, you need to receive 10.

[2019-08-23 19:04] dbcfd commented on #1388
`use std::time::{Duration, Instant};

#[tokio::main(multi_thread)]
async fn main() -> Result<(), ()> {
    let tasks = 100;

    let (s, r) = crossbeam_channel::bounded::<usize>(tasks);
    for x in 0..tasks {
        let s = s.clone();
        tokio::spawn(async move {
            println!("Running {}", x);
            tokio::timer::Delay::new(Instant::now() + Duration::from_millis(100)).await;

[2019-08-24 18:13] callicles opened #1493 "ASync File Stream Reading/Writing"
The `tokio-fs` crate contains a `Future` implementation of asynchronously reading a file.

Feels like a streaming implementation to be able to read a file could be useful.

ie when a file might be bigger than memory (log files for example)

looks like the 0.2 implementation might make things easier than the 0.1 one.

[2019-08-25 06:29] Luro02 opened #1494 "Invalid documentation in tokio_process::Child"
## Version
v0.3.0-alpha.2

## Platform

[code]
## Subcrates

[tokio_process](https://docs.rs/tokio-process/0.3.0-alpha.2/tokio_process)
## Description

The documentation, that can be found [here](https://docs.rs/tokio-process/0.3.0-alpha.2/tokio_process/struct.Child.html) for `tokio_process::Child` is wrong (reading/writing has been mixed).
It currently says for `Child::stdout` and `Child::stderr`

[2019-08-27 00:55] LucioFranco opened #1496 "Provide a `tokio::signal` macro"
It would be really handy to provide a macro that is similar to `tokio::main` but wires up `tokio-signal` and provides a handle as the first argument to main. This could allow users to get up and running with signal handling really easily.

[2019-08-27 05:44] carllerche opened #1498 "ctrl_c is currently not useable"
Repro:

[code]

result:

[code]

This is due to `signal/mod.rs` having both a `ctrl_c` private module and attempting to re-export a fn named `ctrl_c`.

[2019-08-27 16:20] #1498 closed, assigned to nobody

[2019-08-27 22:55] ultrasaurus opened #1500 "tokio example/connect.rs doesn't seem to work"
## Version

From `v0.1.x` branch

## Platform

Darwin newair.local 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64 x86_64 i386 MacBookAir8,1 Darwin

## Description

I can't seem to get the `connect.rs` example to work, but perhaps I am using it incorrectly.  From reading the comments in the example, it seems like it should work as client for

[2019-08-28 09:17] allevo opened #1501 "Which trait I should implement for using Framed::next and Framed::send?"
## Version

[code]

## Platform
`Darwin MBP-di-Tommaso-1ad3 18.7.0 Darwin Kernel Version 18.7.0: Thu Jun 20 18:42:21 PDT 2019; root:xnu-4903.270.47~4/RELEASE_X86_64 x86_64`

## Description

[code]

The code above generates a compile error:
[code]

Instead, this (add Arc) works well
[code]

I think internally tokio implements a trait for Arc but I don't see any documentation about this.

Which trai

[2019-08-28 09:52] Nemo157 commented on #1482
We've been using https://github.com/rustasync/async-compression for supporting compression adaptors of `futures 0.3` types, if you want to add support of `tokio-io` traits there until they're stable enough to be supported by the upstream compression libraries I would be happy to (there may be good possibilities to reuse code across the different implementations).

[2019-08-28 13:41] Kobzol commented on #1246
I think that this specific artifact (at least on my PC) might be partly caused by the sleep.

If you replace `std::thread::sleep` with a busy loop that runs for ~10k nanoseconds, something like this:
[code]
the latencies get several times lower.

If I measure the "duration" of the sleep:
[code]
I consistently get numbers around 60k nanoseconds, so ~6 times more than the sleep intended (I get this

[2019-08-28 17:46] hawkw opened #1504 "net: expose consistent tracing events"
## Subcrates

- `tokio-net`

## Motivation

As of #1455, log records emitted by `tokio-net` have been replaced with `tracing` events. Because `tracing` spans allow user code to provide context to diagnostics emitted by libraries, diagnostics emitted by `tokio-net` have the potential to now be much easier to interpret than the prior unstructured `log` records.

For example, when writing to or readi

[2019-08-28 21:59] jebrosen commented on #1356
Was that supposed to be #1495? I thought #1329 had introduced this error.

[2019-08-28 22:04] carllerche commented on #1500
Thanks for the detailed issue. It was super easy to repro and dig in.

It turns out that the issue is a bug in the `chat.rs` example. Specifically, `chat.rs` expects `\r\n` as line termination ([here](https://github.com/tokio-rs/tokio/blob/v0.1.x/tokio/examples/chat.rs#L335). This is what `telnet` sends, but when reading from stdin, only `\n` is sent.

[2019-08-28 22:35] carllerche commented on #1356
Whoops you are right. Copy / paste fail

[2019-08-29 08:38] zizhengtai opened #1506 "Connected framed UDP socket"
## Version

├── tokio-codec v0.2.0-alpha.3
│   └── tokio-io v0.2.0-alpha.3
├── tokio-io v0.2.0-alpha.3 (*)
├── tokio-net v0.2.0-alpha.3
│   ├── tokio-codec v0.2.0-alpha.3 (*)
│   ├── tokio-executor v0.2.0-alpha.3
│   │   ├── tokio-sync v0.2.0-alpha.3
│   ├── tokio-io v0.2.0-alpha.3 (*)
│   ├── tokio-sync v0.2.0-alpha.3 (*)
└── tokio-test v0.2.0-alpha.3
    ├── tokio v0.2.0-alpha.3
    │   ├── toki

[2019-08-29 10:12] allevo commented on #1501
Thanks. I have added `Unpin` trait and this revolve my issue.

Many thanks

[2019-08-29 10:12] #1501 closed

[2019-08-29 11:29] snsmac opened #1507 "fs: Expose asyncify function"
Exposing this function would make it easier to integrate platform specific APIs into an async context without duplicating code

https://github.com/tokio-rs/tokio/blob/a59e096c4740204993ab2017dbb5098a35f93992/tokio-fs/src/lib.rs#L81-L88

Changing the function signature to
[code]

would make this even usable for functions that do not return an io::Result. (Like nix::Result)

If this change is wanted

[2019-08-29 15:15] carllerche commented on #1507
This is just calling `blocking::run` (from tokio-executor). Is there a reason why this doesn't work?

[2019-08-29 15:54] snsmac commented on #1507
@carllerche It's definitely possible to use `blocking::run` manually. The reason why i would like to use the asyncify method is that I am afraid that my wrapping of methods and the one by tokio-fs could become different (like using a different executor) if there are changes to tokio-fs. But probably I am just overthinking this

[2019-08-29 16:21] carllerche commented on #1507
@snsmac things will evolve more before 0.2 final. I suggest tracking and bringing this discussion back up later when the executor / blocking stuff is more refined. As mentioned in the original PR, this is just an initial impl to unblock other work.

[2019-08-29 16:21] carllerche commented on #1507
I'll leave the issue open and tag it 0.2.

[2019-08-30 00:26] kpp opened #1510 "tokio::net::UdpFramed changed behavior in tokio-udp v0.1.4"
## Version

[code]

## Platform

Linux, Mac, Win

## Subcrates

tokio-udp v0.1.4

## Description

My CRON builds started to stuck at a specific test which works with UDP (https://travis-ci.com/tox-rs/tox/builds/124996476 but never mind). I changed **nothing** but the test stuck even on my local machine. I debugged it and noticed that the `arg=buf` that is passed inside `Decoder::decode(&mut self,

[2019-08-30 00:51] ipetkov commented on #1496
There's a *potential* footgun if anyone does `signal.await` as that would block their task until the signal comes in (when really they would need something like the `select!` macro between their task and the signal stream)

[2019-08-30 02:31] LucioFranco commented on #1496
@ipetkov yeah would need some good docs to explain but really there is only one use case with select so should be pretty easy.

[2019-08-30 09:23] RadicalZephyr opened #1511 "test: assert_* macros formatting features are hard to use"
## Version
[code]

## Platform

Linux pop-os 5.0.0-23-generic #24~18.04.1-Ubuntu SMP Mon Jul 29 16:12:28 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

## Subcrates

test

## Description

I was unable to actually utilize the advertised custom message feature of the `assert_*`  macros to take arbitrary formatting arguments.  Attempting to call them like so:

[code]

I expected this to both compile and wh

[2019-08-30 12:07] fenhl commented on #1371
I am working on a pull request that will implement `std::os::{unix,windows}::process::CommandExt` for `tokio_process::Command`.

[2019-08-30 12:52] fenhl commented on #1371
Nevermind, I can't seem to get my fork to compile with the `process` feature. Someone else will need to take this.

[2019-08-30 13:01] fenhl commented on #1371
Got it to compile but I overlooked the problem of `CommandExt` methods returning `&mut Command` instead of `&mut Self`. Maybe a `From<StdCommand>` impl would make sense here.

[2019-08-30 14:29] LucioFranco commented on #1510
@kpp So 0.1.4 introduced a fix that allowed decoders to decode multiple frames from a single datagram. I believe the correct behavior is to use split_to in your decoder and I think the diff of your decoder looks correct. I don't exactly see a reason why this fix is wrong. Maybe I'm missing something!

Pretty much decoders should be emptying the incoming buffer and the framed implementation will co

[2019-08-30 15:06] ipetkov commented on #1371
@fenhl thanks for working on this! I think we should just mirror the `CommandExt` trait ourselves (and make it return `tokio_net::process::Command`, but also omit the deprecated meethods). Given that the std version is stabilized, we shouldn't see too much churn on keeping our own version of it.

[2019-08-30 15:10] carllerche commented on #1371
Instead of providing our own `CommandExt`, I believe we should just add those fns directly on `Command` scoped by platform.

I believe that the os specific `trait *Ext` pattern is being phased out. See [this](http://aturon.github.io/tech/2018/02/06/portability-vision/) blog post. Mio and Tokio will be moving to the pattern.

[2019-08-30 15:12] ipetkov commented on #1371
Good to know, that sounds good to me!

[2019-08-30 15:29] carllerche commented on #1510
Changes in behavior that aren't to fix a _bug_ are considered a breaking change. We should probably revert this unless it fixes a vulnerability or bug.

@LucioFranco it _sounds_ like it was just a feature addition.

[2019-08-30 15:30] carllerche commented on #1510
another possibility would be to add a runtime flag to the decoder to opt into the behavior... or just wait for 0.2

[2019-08-30 15:40] carllerche commented on #1511
I'm guessing the problem is the comma? In the macro it is:

[code]

when it _probably_ should be:

[code]

Are you able to validate this and submit a PR (hopefully w/ some tests :heart:)?

[2019-08-30 18:21] carllerche commented on #1496
What I would like to see is some analysis on app structure then we could investigate a separate lib that takes an opinionated stance on how one structures a tokio based server.

[2019-08-30 18:58] LucioFranco commented on #1496
I think linkerd and vector both take the same approach actually. So we could look at those and provide a simple macro to do it. I don't think tokio::main is really that usable for larger applications which may want to configure the runtime at runtime.

[2019-08-30 19:08] RadicalZephyr commented on #1511
I'll look into it :)

[2019-08-30 21:03] #1511 closed

[2019-08-31 01:38] ipetkov commented on #1371
@reiver-dev

Extensions have now been added!

We rely on `std::process::Child` to do some checks/guarding for us (e.g. you can't kill the process after it has been reaped because it could be killing another process that was spawned later). It wouldn't be *impossible* for us to support notifications on externally spawned processes, but it does give us less control to avoid problems like deadlocks o

[2019-08-31 02:30] LucioFranco commented on #1510
This has been fixed in `tokio-udp v1.0.5`. Thanks for reporting this 😄

[2019-08-31 02:30] #1510 closed

[2019-08-31 02:46] kpp commented on #1510
Did you yank v0.1.4?

[2019-08-31 03:01] LucioFranco commented on #1510
I'm not convinced we need it to be yanked. I'll leave that up to @carllerche

[2019-09-01 17:43] cynecx commented on #1388
@ntkoopman I've done some digging with your test-case and it seems that it's not related to tokio. The blocking read somewhat indicates that the actual file-descriptor is not in non-blocking mode, hence the blocking read. I've modified rust-tun, so that setting the fd to non-blocking mode is possible (https://github.com/cynecx/rust-tun/tree/non_blocking). The test-case seems to run correctly with

[2019-09-01 18:05] cynecx commented on #1388
@dbcfd Btw, I am not 100% sure if using crossbeam-channel inside an async-fn is a good idea. The issue is that the wake-up-model is different with crossbeam-channel, a recv-operation (with crossbeam) might actually `park` the executing system-thread, which might block one of the threads which tokio's runtime uses.

[code]

The modified test-case completes instantaneously, however I've really exper

[2019-09-01 18:22] kpp commented on #1510
Carl?

[2019-09-01 21:19] dbcfd commented on #1388
@cynecx I do think that the issue that I'm seeing is something with the interplay between crossbeam and tokio, even with a try_recv, rather than a receive. On my test case though, it completes fairly quickly, but some tasks get starved, e.g. task 5. There's about 40 some tasks that run before task 5 runs.

[2019-09-01 22:49] jothan opened #1527 "Flushing stdout with a binary protocol does not work"
I'm having trouble with a binary protocol that does not use newlines as line separators. stdout seems to flush immediately only when there is a newline in the output.

I have included a snippet to reproduce this issue.

Flushing the underlying std stream works, but only when the async stream was flushed first.

stderr has the expected behaviour of flushing immediately correctly.

## Version
0.2.0-

[2019-09-01 23:41] jothan commented on #1527
Adding inner.flush() in Blocking::poll_flush() seems to fix the behaviour. I am not sure where to call the lower layer flush.

[2019-09-03 04:33] asomers opened #1529 "read_at/write_at for tokio_fs::File"
Please add asynchronous versions of `read_at` and `write_at` for `tokio_fs::File`.  They wouldn't be implementable for streams, but they would for regular files.  Without these or similar methods, it's not possible for multiple tasks to operate on the same file simultaneously.  Plus, those are the basic primitives used by AIO, a possible fully asynchronous backend for `tokio_fs`.

[2019-09-03 06:28] ivanceras opened #1530 "TcpStream padding inquiry"
I have an HTTPS webserver using tokio with version
tokio = "0.1.22"

and let the byte stream passes through 2 proxies using tokio with version
tokio = "=0.2.0-alpha.2"

Both of this proxy is just using the [simple example](https://github.com/tokio-rs/tokio/blob/master/tokio/examples/proxy.rs) code:
[code]

These 2 proxies just dumbly passed whatever bytes that passed through the stream.
The way I

[2019-09-03 07:16] Luro02 opened #1531 "Update tokio-process to v0.3.0-alpha.4"
## Version
tokio: v0.2.0-alpha-4
tokio-process: latest available version; v0.3.0-alpha-2

## Platform

Linux
## Subcrates

tokio-process (https://crates.io/crates/tokio-process)
## Description
I am unable to compile my crate, because of tokio-process
[code]

[2019-09-03 09:17] Blub opened #1532 "threadpools' `blocking()` inside "main"'s `block_on` future"
## Version

0.2.0-alpha.4

## Platform

linux

## Description

Futures running on the threadpool runtime's worker threads can use `tokio_executor::threadpool::blocking()`, but the "main" future running inside `block_on()` (as generated from `#[tokio::main]`) cannot, as it is not being executed in a worker thread.
Currently, this runtime's `block_on()` does not run in the context of a worker thread

[2019-09-03 14:03] LucioFranco commented on #1510
Sounds like we'll just keep it unless someone else has issues 🤷‍♂

[2019-09-03 15:40] carllerche commented on #1532
There is a plan to fix this, but it requires some other work to be done first.

As a temporary measure, you can use `tokio_executor::blocking::run(...)` which takes a closure and runs that on a thread pool dedicated to blocking operations.

[2019-09-03 15:47] ipetkov commented on #1531
Hi @Luro02, thanks for the report!

All the APIs from `tokio-process` have been moved to the new `tokio-net` crate, so please use that instead!

`tokio-process` is now deprecated (though we haven't gotten around to pushing out some deprecation warnings), but that's being tracked in #1469

Going to close this out, but feel free to reopen if you have other questions

[2019-09-03 15:47] #1531 closed

[2019-09-03 16:26] Luro02 commented on #1531
yeah I know about this, but I can't find it under "net" in the documentation:
https://docs.rs/tokio/0.2.0-alpha.4/tokio/net/index.html

[2019-09-03 16:28] jothan commented on #1531
@Luro02  Enable the process feature on tokio_net and run cargo doc

[2019-09-03 20:31] dekellum commented on #588
In a similar incremental approach as your #1495, @carllerche, I'd like to make progress on the _"blocking for all"_ goal (as in _all_ runtimes and _all_ types of "blocking" operations):

The `ThreadPool` `enter_` and `exit_blocking_section` functions can be factored out of the current `blocking` function, in the form:

[code]
…with the existing `BlockingError` error type extended as needed. Initia

[2019-09-03 22:52] reiver-dev commented on #1371
Great! Thank you!

What is your opinion on making exec also available for unix? Technically it is not a blocking call, but will allow to choose between exec into new process or performing non-blocking wait while keeping child initialization procedure the same.

These cases are likely to be platform-specific:

- Handles acquired by calling OpenProcess
- Creating Reaper for PIDs after manually calli

[2019-09-04 02:59] sunng87 commented on #1506
+1 for this. Also the `SocketAddr` in the `Sink` doesn't work nicely with current non-blocking `tokio_net::ToSocketAddrs` trait. Since `0.2.0-alpha.4`, tokio has built-in support for auto non-blocking DNS, hiding this detail in `connect` and `bind`. But the address resolution is still leaked to user in this `UdpFramed` sink, where we have to manually resolve the name to feed into the sink.

[2019-09-04 15:46] khionu opened #1536 "Broken Doc Link"
[This](https://docs.rs/tokio/0.2.0-alpha.4/tokio/runtime/fn.run.html) Is linked to from [here](https://docs.rs/tokio/0.2.0-alpha.4/tokio/runtime/index.html), but it's a dead link.

[2019-09-06 07:18] jefshe opened #1541 "Is the tokio threadpool fork safe?"
Hi,
I'm using tokio in an application server (hyper). The server is multithreaded and I have 1 background thread which forks the current process and runs some rust code.

I've noticed that sometimes the server runs into deadlocks. My current theory is that this is due to my forked process holding onto locks required by tokio's threadpool but I really have no idea about the details of the implement

[2019-09-06 12:02] evilbluebeaver opened #1542 "Multiple threads spawning when using FramedWrite"
## Version

tokio v0.2.0-alpha.4
tokio-codec v0.2.0-alpha.4
tokio-io v0.2.0-alpha.4
tokio-executor v0.2.0-alpha.4
tokio-sync v0.2.0-alpha.4
tokio-fs v0.2.0-alpha.4
tokio-executor v0.2.0-alpha.4 (*)
tokio-io v0.2.0-alpha.4 (*)
tokio-sync v0.2.0-alpha.4 (*)
tokio-io v0.2.0-alpha.4 (*)
tokio-macros v0.2.0-alpha.4
tokio-net v0.2.0-alpha.4
tokio-codec v0.2.0-alpha.4 (*)
tokio-executor v0.2.0-alpha.4 (*

[2019-09-06 14:26] alecmocatta commented on #1541
Forking when there's more than one thread running is inadvisable in general as it easily deadlocks: thread B takes out a lock (e.g. in the malloc implementation), thread A forks, thread B releases the lock, new process C never has that lock unlocked.

[2019-09-06 23:23] carllerche commented on #1541
Exactly ^^ Threads + fork is bad news... you _can_ fork **if** you immediately exec and do not allocate memory or perform any other operation that may have been corrupted by the fork.

[2019-09-06 23:23] #1541 closed

[2019-09-07 06:23] Fedcomp commented on #1235
How do i use tokio in tests now?
by the way https://docs.rs/tokio/0.2.0-alpha.4/tokio/runtime/struct.Runtime.html mentions `tokio::run`.

[2019-09-08 16:12] ipetkov commented on #1235
@Fedcomp you should use the [`tokio::test`](https://docs.rs/tokio-macros/0.2.0-alpha.4/tokio_macros/attr.test.html) macro on your tests (which become `async fn`s) which will run your future to completion

[2019-09-08 16:32] ipetkov commented on #1371
Although it's a more advanced/here-be-dragons type of API, I would personally be okay with adding a method which delegates to `std::Command` since it doesn't cost us much to maintain (plus we don't need to worry about actual async interactions).

Let me first start by saying that we'd be happy to consider any concrete proposals for API additions if they have sufficient motivation!

My thoughts on

[2019-09-08 17:43] jedisct1 commented on #1307
Any hope to reconsider this for tokio 0.3?

[2019-09-09 01:57] Fedcomp commented on #1235
@ipetkov thanks!

[2019-09-09 10:00] jedisct1 opened #1543 "TcpStream: connect() from net::TcpStream"
## Version

0.2.0-alpha.4

## Description

Currently, the only way to create a `TcpStream` is by creating a listener, or calling `connect()`.

But no options can be set before calling `connect()`. In particular, we can't `bind()` the socket to a source address.

That can be done by preparing a `net::TcpStream`, but while that can be converted to a tokio `TcpStream`, it's then impossible call `conn

[2019-09-09 17:36] carllerche commented on #1251
I'm going to close this as I think `tokio-buf` is going to be removed.

[2019-09-09 17:36] #1251 closed

[2019-09-11 03:04] ZizhengTai opened #1544 "`Lock::lock` should take a `&self` instead of `&mut self`"
## Version

tokio_sync v0.2.0-alpha.4

## Description

`Lock::lock` should take a `&self` instead of `&mut self`. Consider the following code:

[code]

With the code above, if we clone a `Foo` to send to another task, the `Arc` inside the `Lock` is bumped once. But whenever we try to acquire the lock, we need to bump the `Arc` again just to get a mutable lock. `Lock::lock` should take a `&self` to

[2019-09-11 10:19] Drevoed opened #1546 "Tokio-tls compile error"
## Version

[code]

## Platform

Linux arkrait 5.2.11-arch1-1-ARCH #1 SMP PREEMPT Thu Aug 29 08:09:36 UTC 2019 x86_64 GNU/Linux

## Subcrates

tokio-tls

## Description

When trying to compile tokio-tls with latest nightly (2019-09-10) compiler fails with
[code]

[2019-09-11 10:42] fakeshadow commented on #1546
add `move` in closure and it compiles on my machine.

[2019-09-11 13:24] Drevoed commented on #1546
Indeed that will work, but I suppose developers would like to see that the library in current state won't compile :)

[2019-09-11 14:29] WaffleLapkin commented on #1546
Also, with the previous nightly (`nightly-2019-09-10-x86_64-unknown-linux-gnu - rustc 1.39.0-nightly (0b36e9dea 2019-09-09)`) tokio-tls compiles just fine.

[2019-09-11 15:28] davidbarsky commented on #1546
I think this compilation error might be related to https://github.com/rust-lang/rust/pull/64292.

[2019-09-11 17:22] #1546 closed

[2019-09-11 18:12] colepoirier commented on #1388
Thank you for your help! Trying to use tokio became more trouble than it was worth, so I switched to the runtime crate, and it works flawlessly. No weird bugs like this so far.

[2019-09-11 20:50] dbcfd opened #1548 "tokio-tls broken on nightly-2019-09-10"
## Version

0.3.0-alpha.4

## Subcrates
tokio-tls

## Description

Tokio is currently pinned to `nightly-2019-08-21`. `nightly-2019-09-10` is broken with
[code]

[2019-09-11 20:55] davidbarsky commented on #1548
This was tracked in https://github.com/tokio-rs/tokio/issues/1546—there's already a fix on master. In the mean time, you can:
- depend on Tokio from the master branch until a release is out,
- or pin your code to `nightly-2019-09-09`.

[2019-09-11 20:55] #1548 closed

[2019-09-11 21:01] dbcfd commented on #1548
@davidbarsky #1547 doesn't change the rust toolchain version. Should there be a PR for that? The PR does fix the issue, but seems like regression could occur without a toolchain bump.

[2019-09-12 23:08] carllerche opened #1549 "Smooth transition from 0.1 to 0.2"
Original report: https://users.rust-lang.org/t/failed-to-port-mononoke-to-tokio-0-2-experience-report/32478

My read of this is that the primary issue is a lack of compat layers between 0.1 and 0.2.

## `tokio-compat`

The solution would be to provide a crate that implements a bridge runtime, setting up the required bits to run both 0.1 and 0.2 on the same runtime. Additionally, a compat layer bet

[2019-09-13 08:35] jean-airoldie opened #1550 "tokio-sync: Acquire n permits from a semaphore"
Currently the `0.2.0-alpha.4` `Semaphore` & `Permit` API of `tokio-sync` only allows one to acquire permits one at a time (as far as i can tell). Wouldn't the `Semaphore` API be more usefull is one could acquire an arbitrary number of permits at a time?

For instance `Permit::poll_acquire_n` would take an extra arg use to decide how much permits to acquire. And an extra check would be added to mak

[2019-09-13 08:46] farnz commented on #1549
I'll file issues and attach them here for what I saw as the problems - the big issue is the bridge runtime, as you describe, then with some less significant issues around `AsyncRead`/`AsyncWrite`, one of which I think belongs to `futures` not `tokio`.

[2019-09-13 09:15] farnz opened #1551 "`tokio-0.2.0-alpha4` `AsyncRead` and `AsyncWrite` traits are not the same as `futures-0.3.0-alpha18` versions."
`tokio-0.2`'s [`AsyncWrite`](https://docs.rs/tokio/0.2.0-alpha.4/tokio/io/trait.AsyncWrite.html), [`AsyncRead`](https://docs.rs/tokio/0.2.0-alpha.4/tokio/io/trait.AsyncRead.html) etc are out of sync with the `futures-0.3` versions - e.g. `tokio`'s `AsyncWrite` is implemented for `Vec<u8>`, while `futures`' [`AsyncWrite`](https://docs.rs/futures-preview/0.3.0-alpha.18/futures/io/trait.AsyncWrite.ht